/* Global */
 
/* Artikli */
.description-holder .artical-informations {
	display: table;
	padding: 0;
}
.first-column {
	background-color: #f0f0f0;
}
.second-column {
	border-bottom: 1px solid #dbdbdb;
	border-top: none;
    text-align: center;
}
/*.second-column .columns:first-child {
	text-align: left;
}*/
.first-column,
.second-column {
	 display: flex;
	padding: 0; 
}
.first-column .columns,
.second-column .columns {
	border-right: 1px solid #dbdbdb;
	padding: 7px 3px;
	font-size: 12px;
	display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-wrap: wrap;
}
.first-column .columns:last-child,
.second-column .columns:last-child {
	border-right: none;
}
.first-column .product-content,
.second-column .product-content {
	background-color: #fff;
	box-shadow: none;
}
.first-column .product-content:before,
.second-column .product-content:before {
	display: none;
}
.first-column .product-list.list-view ,
.second-column  .product-list.list-view {
	margin-top: 15px;
	padding: 0;
}
.first-column .product-list.list-view .product .product-title,
.second-column .product-list.list-view .product .product-title {
	margin: 15px 0 9px 0;
}
.first-column .product-list.list-view .product .add-to-cart,
.second-column .product-list.list-view .product .add-to-cart,
.first-column .product-list.list-view .product .not-available,
.second-column .product-list.list-view .product .not-available {
	margin-top: 65px;
}
.first-column .big,
.second-column .big {
	width: 35%;
}
.first-column .medium,
.second-column .medium {
	width: 15%;
}
.first-column .small,
.second-column .small {
	width: 10%;
}
.first-column .kolicina,
.second-column .kolicina {
	width: 65px;
}
.second-column .product-image {
	width: 100%;
}
.second-column .button-col{
	background-color: #f4a137;
}
.second-column li button {
	display: block;
	width: 100%;
	height: 25px;
	max-width: 65px;
	padding: 0;
}
.second-column li a {
	color: #444;
}
.second-column li .header-cart-icon:before {
	background-size: 102px auto;
	background-position: right;
	width: 119px;
	height: 32px;
}
.second-column  input.add-amount,
.second-column  input.cart-amount {
    position: relative;
    display: block;
    width: 29px;
    height: 25px;
    border-radius: 0;
}
.product-list.list-view  {
	padding: 0;
}

/* Stranica Kartica */
.filter-text {
	margin-top: 25px;
}
.date-filter {
	margin-right: 15px;
}
.date-filter input[type="text"] {
	padding: 7px;
	width: auto;
	height: auto;
}
.date-filter, .button-filter {
	display: inline-block;
}
button.submit {
	border-radius: 3px;
    float: none;
    margin: 21px 10px 0 0;
    padding: 5px 25px;
}
button.submit a {
	color: #fff;
}
 
.submit-order-button {
	margin-top: 20px;
}

.new-content h1,
.new-content h3, 
.new-content h4, 
.new-content h5, 
.new-content h6 {
	background-color: none;
	color: black;
	font-weight: bold;
}

.new-content h1 {
	font-size: 30px;
}
 
.new-content h3 {
	font-size: 20px;
	padding: 0;
    background: none;
    margin: 20px 0;
}

.new-content h4 {
	font-size: 18px;
}

.new-content h5 {
	font-size: 16px;
}

.new-content h6 {
	font-size: 14px;
}

.new-content {
	padding: 25px;
}

.new-content p, .new-content ul li, .new-content ol li {
	font-size: 13px;
}
 

#middle-area {
    background: white;
}

.cart-labels {
	margin-top: 20px;
}

.button-filter {
	border: 1px solid #bbb;
}
.button-filter a {
    padding: 0 10px;
}
.button-filter button {
	padding: 5px 10px;
}

.cat-img-1 {
	max-width: 30px;
}

.cat-img-2 {
	display: block;
	max-width: 75px;
	max-height: 75px;
	margin: 0 auto;
}
#main-menu li a:hover {
    color: #f79022;
}
.medium{
	display: flex;
    justify-content: center;
    
    display: -webkit-flex;
    -webkit-justify-content: center;
  
}
