
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: normal;  
    color: var(--body_color); 
    background-color: var(--body_bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}  
/*NO MARGIN*/
body, .row, .currency-list, .login-dropdown, input[type="checkbox"], input[type="radio"], ul, h1, h2, h3, h4, h5, h6,
.JSinfo-popup .p-info, .header-search input[type="text"], .sub-group a p, .product-timer,
input.JScart-amount, input.cart-amount, .vezani_artikli .linked-articles-input, .JSmain-slider, .sliderText p,
.JScookies-part .nav > li > a 
{
    margin: 0; 
}
/***************************************/
/*NO PADDING*/
body, .no-padding, .currency-list, .login-dropdown, ul, .sub-group a,  
input.JScart-amount, input.cart-amount, .cart-sum 
{
    padding: 0;
} 
/***************************************/
/*TEXT CENTER*/
.JSinfo-popup .p-info, .header-right, .cat-img-cont,  .JSsubcategory-toggler,
.shop-product-card-list .ribbon-sale span, .JSscroll-top, a.add-amount-less, a.add-amount-more,
.cart-labels li, input.JScart-amount, input.cart-amount, .bootbox p, .vezani_artikli .linked-articles-input,
.admin-article, .article-edit-btn, .section-title, .breadcrumb, .page-title, .empty-page-label,
.like-it, .printer a i
{
    text-align: center;
}
/***************************************/
/*RELATIVE*/
.relative, select, .popup-wrapper, span.select-wrapper,
.comment-content, .files-list-item, #main-menu li,
.shop-product-card-list, .JSproducts_slick, .JSlevel-1 li, .JSlevel-3 li
{
    position: relative;
}
/***************************************/
/*INLINE BLOCK*/
.inline-block, .capcha input[type="text"], .popup-wrapper, .selected-filters li, #logout-button, 
.JSbroj_wish span, .cat-img-cont, .level-1-img, .level-2-img, 
.sliderText div > *, .buy-btn, .not-available, .like-it, .generic_car ul li, .generic_car_list ul li,
.product-tags div a, .footer-links li a, #JScompareTable .JSclearCompare,
a.add-amount-less, a.add-amount-more,
.admin-article a, .new-content img, .files-list-item, .features-list li,  
.mini-cart-sum i, .sum-label, .sum-amount, .price-label, .product-tags a
{
    display: inline-block;
}
/***************************************/
/*COLOR WHITE*/
.top-menu button span, .sliderText div > *, .shop-product-card-list .ribbon-sale span,
 #JScompareTable .JSclearCompare, .bootbox .modal-dialog .btn:nth-child(1),
.shop-product-card .buy-btn:hover, .shop-product-card-list .buy-btn:hover,  .product-tags div a, a.add-amount-less, a.add-amount-more,
.add-to-cart-container .buy-btn, .color-white, .shop-product-card .sale-label,
.foot-note, .newsletter button:hover  
{
    color: #fff;
}
/***************************************/
/*BOLD*/
.text-bold, .shop-product-card-list .ribbon-sale span, .article-manufacturer-text, .compare-table tr td:first-child, 
.comment-name, .files-list-item, .brend-item, .success, .JSbroj_wish span,  
.PDV, .descr-title 
{
    font-weight: 600;
}
/***************************************/
/*FONT 500*/
.buy-btn, .not-available, .blogs-title, .cart-name a, .empty-page-label, .admin-article a,
.price-num, .login-title span, .article-heading, .login-dropdown li a,  .cart-total-price,
.shop-product-card .sale-label, .cart-labels li, .cart-sum, .article-edit-btn, 
.contact-page ul .lab, .swal-title, .error_mess_article  
{
    font-weight: 500;
}
/***************************************/
/*OUTLINE NONE*/
.btn.focus, .btn:focus, .btn:hover, .JSproducts_slick > *:focus,
a:link, a:visited, a:active, button:focus, .btn-slider, 
.header-search input[type="text"]:focus,
.header-search select:focus, .newsletter input:focus, .currency-btn:active:focus
{ 
    outline: none; 
}
/***************************************/
/*LINE HEIGHT 1*/
.line-h, img, .facebook-btn-share, .first-popup .JSclose-me-please,
.sub-group a p, .price-holder, .generic_car ul, .generic_car_list ul
{
    line-height: 1;
}
/***************************************/
/*TEXT UPPERCASE*/
.h2-container, .shop-product-card-list .ribbon-sale span, .compare-table tr td:first-child, .without-btn,
.cart-labels li, .cart-sum, .article-heading, .global-currency, .quantity_cart button 
{
    text-transform: uppercase;
}
/***************************************/
/*FONT SIZE 85%*/
img, .selected-filters li, .red-dot-error, .related-custom .title,
.compare-table tr td:first-child, .files-list-item, .features-list li, .review, .comment-rating 
{
    font-size: 85%;
}
/***************************************/
/*DISPLAY BLOCK*/
.section-title, .filter-price, .filter-text, .top-menu a, #main-menu .drop-2 li a,
span.select-wrapper, .search_list__item__link, 
.manufacturer-categories a, .product-price, .shop-product-card-list .ribbon-sale span,
.comment-content, .comment-content span, .JSwithout-reg-none-personal.active, .JSwithout-reg-personal.active,
.category-name-link, .category__list__item__link, .category-sidebar__list__item__link, .admin-article .supplier,
.page-title, #responsive-nav a, .main_imgGallery
{
    display: block;
}
/***************************************/
/*DISPLAY NONE*/
.popup, .menu-close, .JSfilters-slide-toggle-content, .JShidden-msg, .slick-dots li,
.slickTitle, .JSlevel-4, .cookies_tabs, .JSsubgroup-wrapper, .sub-group a:nth-of-type(4) ~ a,
.JSwithout-reg-none-personal, .JSwithout-reg-personal, .JShidden-if-no-filters, .dropdown-backdrop, .header-search
{
    display: none;
}
/***************************************/
/*DISPLAY FLEX*/
.flex, .filter-box label, .related-custom .card,  
.filter-links, .JScart-item li, .karak-row, .justify-center
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
}
.justify-center {
    justify-content: center;
    -webkit-justify-content: center;
}
/***************************************/
/*VERTICAL ALIGN MIDDLE*/
.valign, .logo, a.JScart-less, a.JScart-more, .generated-features-list > li:nth-child(1), 
.generated-features-list > li:nth-child(2), .generated-features-list > li ul li,
.like-it, .printer a i, .buy-btn, .not-available
{
    vertical-align: middle;
}
/***************************************/
/*MARGIN AUTO*/
.first-popup .first-popup-inner, .shop-product-card-list .product-image, .zoomWrapper img,
.JScart-item li > * , .product-image, .modal-cont img, .JSmain_img, .gallery_slider img,
.JScookies-part .alert
{
    margin: auto;
}
/***************************************/
/*OVERFLOW HIDDEN*/
.popup, .related-custom .title, .shop-product-card, .shop-product-card .product-name,
.generic_car ul, .generic_car_list ul, .shop-product-card-list .ribbon-sale,
.additional_img a, .JScart-item li, .brend-item, .price-holder, 
.JSproducts_slick .slick-list, .product-image-wrapper, .blogs-title,
.JSmain-slider, .iframe-padd, .gallery_slider a, .main_imgGallery, .map-frame 
{
    overflow: hidden;
}
/***************************************/
/*MAX WIDTH 100%*/
.first-popup-inner img, .article-brand-img img, .footer-logo img
{
    max-width: 100%;
}
/***************************************/
.seo {  
    position: absolute;
    top: -999px;
    left: -999px;
}

img {
    color: #bbb;  
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}
/*===================*/

.global-currency {
    font-size: 70%;
}

/*===================*/

.mailto { word-break: break-word; }
 
/*===================*/

.JSleft-body-link, .JSright-body-link { 
    position: absolute;
    left: 0; 
}
.JSright-body-link {  
    left: unset;
    right: 0;
}
/*===================*/
.capcha {
    border: 1px solid #ddd;
    padding: 15px 0;
    box-shadow: 1px 1px 5px #ccc;
}
.capcha input[type="text"] {
    width: auto; 
    margin: 0 5px;
}
.capcha img { margin: 0 5px 10px; }

/*====================*/ 
.currency-btn, .show-compered, .show-compered-active {
	background-color: var(--currency_bg);
	color: var(--currency_color);
    padding: 2px 10px;
    margin: 7px 0 7px 5px;
}

.currency-btn:active:focus {
    box-shadow: none;
}

.currency-list li { border-bottom: 1px solid #ddd; }

.currency-list, .login-dropdown { min-width: 100%; z-index: 10; }

/*****************/

.login-dropdown li a {    
    padding: 6px 20px;
    font-size: inherit;
    color: inherit;
    letter-spacing: .7px;
}

[class*="col-"]{ min-height: 0; }

.pagination { margin: 10px 0; }

.pagination li a {
    padding: 5px 10px;
    background-color: var(--pagination_bg);
    border: none;
    font-size: 150%;
    color: #000;
}
.pagination > .active > a, .pagination > .active >a:hover {
    background: var(--pagination_bg_active);
    color: var(--pagination_color_active);
    font-weight: 600;
    border-bottom: 1px solid;
    border-radius: 0 !important;
    z-index: 0;
} 

.static {
    position: static;
}
/*POINTER*/
.pointer, .pagination .disabled a:hover, 
.pagination .disabled a, .JSsubcategory-toggler,
#JScompareTable .JSclearCompare, .JSmain_img,
.attributes span, .without-btn,
.printer a i, .JSclose-modal:hover, .close-search,
.JScookiesInfo_btn
{
    cursor: pointer;
}
.soc-network{ margin: 0 2px; } 
 
a:link, a:visited, a:active { text-decoration: none; color: var(--a_href_color); }
a:hover { color: var(--global_color); transition: all 0.1s ease 0s; -webkit-transition: all 0.1s ease 0s; }
ul { list-style-type: none; }
 
.section-title, .blog-title {  
    margin: 15px 0;
    font-size: 115%;
    padding: 10px 0;
    color: var(--h2_color);
} 
.page-title {
    font-size: 150%;
    font-weight: 900;
    padding: 30px 0px 30px;
}
.article-heading {
    margin: 10px 0;   
    font-size: 140%;
} 
.breadcrumb { 
    background-color: var(--breadcrumb_bg);
    border-radius: 0;
    margin: 5px 0;
}
 
/*BUTTON*/
button {
    border: none;
    background: none;
}
.button { 
    background-color: var(--btn_bg);
    color: #fff;
    margin: 2px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    padding: 10px 15px;
}

a.button { color: #fff; }

.button:hover {
    background-color: var(--btn_hover_bg);
} 
/************************/

input[type="text"], input[type="password"], select, select.form-control, textarea, textarea.form-control {
	width: 100%; 
	color: #666;
	padding: 5px 10px;
	height: 45px;
    border: 1px solid #ddd;
    border-radius:  0; 
    background-color: var(--input_bg_color);
    box-shadow: none;
}
.form-control:focus {
    box-shadow: none;
}
textarea, textarea.form-control { resize: none; height: auto; }
select {
    -moz-appearance: none;
    -webkit-appearance: none;
}
label { color: var(--label_color); font-weight: 400; }

.swal-title {font-size: 24px; }

.padding-v-20 { padding-top: 20px; padding-bottom: 20px; }

.padding-h-15 { padding-left: 15px; padding-right: 15px; }
/*--- POPUP ADD TO CART ---*/
/*.popup {
    position: fixed; 
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; 
    background: rgba(44, 44, 44, 0.7);
    z-index: 99999;
}
.popup-wrapper {     
    max-width: 315px;
    width: 100%; 
    top: 40%;
    left: 50%; 
    transform: translate(-50%, 0);
} 
.JSinfo-popup .p-info { 
    color: #474747; 
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 5px 5px 20px 5px #333;
    font-size: 16px;
}*/
/*========================*/ 
.first-popup {
    position: fixed;
    top: -1000px; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 70;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex; 
}
.first-popup .first-popup-inner {  border: 1px solid #ddd; max-width: 88%; }
.first-popup .JSclose-me-please {
    color: #f2f2f2;
    position: absolute;
    top: -25px;
    right: -25px;
    z-index: 5;
    font-size: 30px; 
    padding: 0 5px;
    cursor: pointer;
    text-shadow: 0 0 3px #000; 
}
.first-popup .JSclose-me-please:hover {
    opacity: .8;
    text-shadow: 0 0 10px #000;
}
.first-popup-inner img { 
    max-height: 380px;
    padding: 2px;
} 
/*======================*/

.registration-form {
    max-width: 440px;
    margin: auto;
}
.login-title span {
    font-size: 140%;
    margin: 0 10px;
    opacity: .4;
}
.login-title span.active-user {
    border-bottom: 1px solid;
    opacity: 1;
    color:  var(--global_color);
}
/*======================*/

.registration-form button, .quantity_cart button, .contact-page button  {
    width:  100%;
    padding: 15px;
}

/*======================*/
 
.slick-slider { margin-bottom: 0 !important; }

/*======================*/

.JSproducts_slick .slick-prev,
.JSproducts_slick .slick-next,
.JSblog-slick .slick-prev,
.JSblog-slick .slick-next {  
    position: absolute;
    top: -50px;
    right: 10px;
    z-index: 2;
    background: #fff;
    width: 35px;
    height: 35px;
    font-size: 0;
}
.JSproducts_slick .slick-prev:hover, 
.JSproducts_slick .slick-next:hover,
.JSblog-slick .slick-prev:hover,
.JSblog-slick .slick-next:hover {
    background: #f3f3f3;
}
.JSproducts_slick .slick-prev, .JSblog-slick .slick-prev {
    right: 50px;
    left: unset;
}
.JSproducts_slick .slick-next:before, 
.JSproducts_slick .slick-prev:before,
.JSblog-slick .slick-prev:before,
.JSblog-slick .slick-next:before {
    content: '';
    border: 3px solid;
    border-color: var(--global_color) var(--global_color) transparent transparent;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: inline-block;
    width: 15px;
    height: 15px; 
    margin-right: 5px;
}
.JSproducts_slick .slick-prev:before,
.JSblog-slick .slick-prev:before {
    border-color: transparent transparent var(--global_color) var(--global_color);
    margin: 0 0 0 5px;
} 
/*======================*/
/* filters */

.filters { margin-top: 15px; }

.JShidden-if-no-filters { 
    min-height: 40px; 
    line-height: 40px; 
    padding: 5px 0;
}
.filter-links { 
	justify-content: space-between; 
	-webkit-justify-content: space-between;
	padding: 5px 0;
	border-bottom: 1px solid #ddd;
    margin: 5px 0;
    background-color: var(--filters_bg);
}
.filter-links i {
    font-size: 80%;
    opacity: .6;
}
.filter-price { margin: 0 0 10px; }

/*======================*/

#JSslider-range {
    max-width: 95%;
    margin: auto;
    height: 3px;
    border-color: #000;
}
#JSslider-range > div, #JSslider-range > span {
    background: #000;
}
#JSslider-range > span { 
    border-radius: 0;
    width: 13px;
    height: 13px;
    top: -6px;
}
/*======================*/

.selected-filters li {  
    padding: 5px 10px;
    background-color: #f2f2f2;
    margin: 5px 0;
}
.filter-box label { 
    background: #f9f9f9;
    padding: 2px 8px; 
    flex-wrap: nowrap;
}
.filter-box label:hover { box-shadow: 3px 0 0 inset; }

.filter-text { margin: 0 5px; width: 100%; /*for flexbox*/ }

/* SLAJDER ZA CENU END */
a.JSreset-filters-button { 
    color: var(--global_color);
}
/****************************/
 
/*--- PREHEADER ---*/
#preheader { background-color: var(--top_menu_bg); }
 
.JStoggle-btn {
    margin: 5px;
    padding: 0 6px;
    border: 1px solid #fff;
    user-select: none;
}  
.top-menu a {
	padding: 5px;  
    color: var(--top_menu_color); 
}  

.required-fields span, .red-dot-error {    
    color: #f00;
} 
.red-dot-error i {
    font-size: 7px;
    vertical-align: super;
}
/*- MAIN MENU -*/ 
 
.drop-2 ul {
    margin-left: 15px;
}

#responsive-nav a {
    padding: 8px;  
}
.JSlevel-2 ul {
    margin-left: 20px;
}
 
/*===============================*/
 
/*--- HEADER ---*/
header { background: var(--header_bg); }
.header-search select {
	border-right: 0;     
	padding: 0 20px 0 10px;  
} 

.header-search select,
.header-search input[type="text"] {
    border: none;
    border-bottom: 2px solid #000;
    font-size: 125%;
}
.header-search {
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    box-shadow: 0 5px 6px rgba(0,0,0, .1);
    width: 100%;
    z-index: 9;
}
.header-search input[type="text"] {
    padding-right: 50px; 
}
.header-search span.select-wrapper::after, span.select-wrapper::after {
    content: " ";
    border-top: 0.4em solid #808080;
    border-right: 0.2em solid transparent;
    border-left: 0.2em solid transparent;
    position: absolute;
    top: 42%;
    right: 8px;
}  
.search-content {
    max-width: 900px;
    width: 90%;
    margin: 25px auto; 
} 

.close-search {
    position: absolute;
    top: 0;
    right: 3%;
    z-index: 1;
    font-size: 20px;
    color: #bb0202;
}
.JSopen-search-modal, .login-btn {
    font-size: 18px;
    padding: 5px 10px;
}

.JSsearch-button2 {
    padding: 0 15px;
    font-size: 18px;
    position: absolute;
    z-index: 1;
    top: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #fff;
}
.JSsearch-button2:hover, .close-search:hover, .JSopen-search-modal:hover {
    color: var(--global_color);
} 
/************************/

.JSheader-cart-content { 
	width: 350px;
	padding: 0 10px; 
	z-index: 10;
    background-color: #f9f9f9;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}
.mini-cart-item {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.mini-cart-title {
    margin: 0 0 10px;
    max-width: 90%;
}
.go-to-cart-btn {
    padding: 3px;
    margin: 0 0 10px;
    border-bottom: 1px solid #000;
}
.go-to-cart-btn i {
    font-size: 75%;
}
.remove-cart-item {
    color: #bb0202 !important;
    position: absolute;
    top: 0;
    right: 5px;
}
.mini-cart-img { max-height: 70px; }
 
.mini-cart-sum li { 
    text-align: right;
    padding: 5px 7px;
    margin: 5px 0;
}
.mini-cart-sum i {
    font-style: normal;
    min-width: 100px; 
}
/******************************/
.JSbroj_wish { letter-spacing: 2px; }

.log-user a {
    padding-left: 0;
    padding-right: 0;
} 
.forgot-psw { 
    color: #777;
    margin: 10px 0;
}
/*======= STICKY HEADER ANIMATION ========*/
/*.JSsticky_header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 60; 
    background: var(--header_bg);
    box-shadow: 0 2px 6px rgba(0,0,0, .2);
}  */

/*===== LOGO ==========*/
.logo { 
	padding: 8px 0; 
}
.logo img { max-height: 65px; }

/*- SEARCH -*/ 

ul.JSsearch_list {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 99;
    width: 100%;
    background: #fff;
    max-height: 450px;
    overflow: auto;
}
.JSsearch_list li:not(.search_list__title) { 
    margin: 5px 0;
    padding: 4px 10px;
    line-height: 1.2;
    border-bottom: 1px solid #ddd;
} 
.search_list__item__link__cat { 
    display: block;
    font-weight: 600;
    color: #000;
    text-align: right;
}
.search_list__title {
    font-weight: 600;
    padding: 3px 5px;
    background: rgba(0,0,0,.06);
    border-bottom: 1px solid rgba(0,0,0,.05);
}

/*- HEADER CART -*/
.header-cart {   
    font-size: 20px;
    width: 45px;
    margin: 5px 0;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
}   
.JScart_num {
    position: absolute;
    right: -2px;
    top: 0;
    background: var(--cart_number_bg);
    color: #000;
    padding: 2px 5px;
}
.JSbroj_wish { color: var(--global_color); } 

/***********************/
  
/*SUBGROUPS*/
.sub-group a {
    margin: 5px 0;
    padding: 5px 0;
    border-bottom: 1px solid #f3f3f3;
    min-height: 36px;
    line-height: 36px;
} 
.sub-group img {
    max-height: 25px;
    margin: 0 8px;
}
.sub-group {
    margin-top: 20px;
}
.JSsubgroup_btn:hover {
    color: var(--global_color);
}
/*================================*/

.contact-page ul li {
    margin: 3px 0;
} 
/*=========== Manufacturer ============*/
 
.manufacturer-categories h3 {
    font-size: inherit;
    margin: 5px 0;
    padding: 5px;
    font-weight: 100;
    border-bottom: 1px solid #ccc;
}
.manufacturer-categories a { 
    margin: 3px 0;
    padding: 3px 6px;
    background-color: #f5f5f5;
}
/*==========================================*/
 
.cat-img-cont { 
    width: 25px;
    height: 25px; 
    margin: 0 5px 0 0;
}
.cat-img-cont img {
    max-width: 25px;
    max-height: 23px; 
    padding: 1px;
}   
 
/******************/
.JSsubcategory-toggler { 
    position: absolute;
    right: 0;
    top: 5px;
    width: 29px;
    height: 26px;
    line-height: 26px; 
    color: rgba(0,0,0, .3);
}
 
/*- MAIN CONTENT -*/
#main-content { min-height: 650px; padding-bottom: 20px; }

/********************/

.bg-img {
    padding-top: 40%;
    background: center/cover no-repeat;
}
/********************/
/*- MAIN SLIDER -*/

.sliderText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 550px;
    z-index: 2; 
    background: rgba(0,0,0,.2); 
    font-size: 25px;
}
.sliderText > * {
    margin: 5px 0;
    text-shadow: 0 0 1px #000; 
    padding: 10px 15px;
    color: #fff;
    font-size: 80%;
} 
.sliderText .slider-btn-link {
    padding: 5px 15px; 
    color: #fff;
    border: 1px solid;
    transition: .3s ease;
    margin-left: 15px;
}

.sliderText .slider-btn-link:hover {
    padding: 5px 20px;
}
/*.JSmain-slider {
   margin-bottom: 10px;
}*/

.JSmain-slider .slick-next { right: 20px; } 
.JSmain-slider .slick-prev { left: 20px; }
 
.JSmain-slider .slick-next, .JSmain-slider .slick-prev {
    width: 60px;
    height: 60px;
    margin: -3% 0;
    background: rgba(0,0,0,.2);
    opacity: 0;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
}

.JSmain-slider:hover .slick-next, .JSmain-slider:hover .slick-prev {
    opacity: 1;
}

.JSmain-slider .slick-prev:before, .JSmain-slider .slick-next:before {
    content: '';
    border: 3px solid;
    border-color: #fff #fff transparent transparent;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    opacity: 1;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
} 
.JSmain-slider .slick-prev:before {
    border-color: transparent transparent #fff #fff;
    margin: 0 0 0 10px;
}
.JSmain-slider .slick-prev:hover, .JSmain-slider .slick-next:hover { background-color: rgba(0,0,0,.4); }

/*BANNERS */
.banners {
    margin: 3px;
}
.banners:hover .bg-img, .gallery-ban .slider-link:hover, .txt-ban .slider-link:hover {
    background-blend-mode: multiply;
    background-color: rgba(0,0,0, .2);
}
.banners .bg-img {
    padding-top: 125%;
    transition: .2s all;
    -webkit-transition: .2s all;
}
.slider-link { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.txt-ban .bg-img {
    padding-top: 80%;
}
/*************************/
.d-content { 
    min-height: 500px;  
}
.d-content:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
}
 
/********************/
.related-custom .card { 
    padding: 15px 0;
}
.related-custom .img-wrap img {
    max-height: 50px;
}
.related-custom .title { 
    white-space: nowrap;
    text-overflow: ellipsis; 
}
.related-custom .price {
    font-size: 16px;
}
/*- PRODUCT */
/*.product-timer {
    position: absolute;
    width: 100%;
    background: #fff;
    bottom: 0;
    left: 0; 
    table-layout: fixed;
}*/
/*==================*/
.shop-product-card { 
    background: var(--product_bg); 
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    margin: 15px 3%;
    padding: 5px;
}
/*==================*/
.article_top_info {
    position: absolute; 
    top: 10px;
    left: 10px;
    z-index: 1; 
    width: calc(100% - 20px);
    pointer-events: none;
}

.shop-product-card .sale-label {
    font-size: 90%;
    background: var(--sale_action_bg);
    padding: 6px 12px; 
    margin: 2px;
}  

#product-preview .product-sticker { 
    position: absolute; 
    top: 5px;
    left: 20px;
    z-index: 1; 
    pointer-events: none;
    width: calc(100% - 40px);
}
.article-sticker-img { flex:1; }

.article-sticker-img img { 
    max-height: 70px;
    padding: 2px; 
}
/*=========*/
.buy-btn, .not-available { 
    padding: 10px 15px;
    margin: 2px; 
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    color: var(--btn_color);
    background-color: var(--btn_bg); 
}
.not-available {
    opacity: 0.8;
}
.like-it, .printer a i {
    transition: 0.3s all;
    -webkit-transition: 0.3s all; 
    width: 40px;
    height: 40px;
    line-height: 40px;
    /*-webkit-box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 6px transparent;
    box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 6px transparent;*/
    color: #999; 
    font-size: 20px;
}
.like-it:hover, .like-it.active, .printer a i:hover {
    color: var(--global_color);
    /*-webkit-box-shadow: 0px 0px 0px 1px var(--global_color) inset, 0px 0px 0px 0px var(--global_color);
    box-shadow: 0px 0px 0px 1px var(--global_color) inset, 0px 0px 0px 0px var(--global_color);*/
}
.print_like {
    position: absolute;
    right: 2px;
    top: -5px;
}

.product-preview-info .like-it, .printer a i {
    display: block;
    height: 32px;
    line-height: 32px;
}
.quantity_cart span { line-height: 47px; padding: 0 2px;}

.quantity_cart > div {
    flex:1;  
    border: 1px solid #dddddd;
}
.quantity_cart > button {
    flex:2;
    margin: 10px 5px;
} 
.error_mess_article {
    color: var(--global_color);
    font-size: 110%;
    text-shadow: 0 0 #000;
}
/******************/ 
.num-rates {
    margin: 5px 0;
}
.num-rates .lorem-1 {
    font-size: 90%;
    color: #666;
    margin: 0 30px 0 0;
}
.num-rates select {
    font-family: Consolas, monospace;
}
.num-rates .select-wrapper {
    min-width: 130px;
    display: inline-block;
}
/******************/
   
.price-holder { 
    font-size: 110%;
    color: var(--product_price_color);
    /*font-family: Arial, sans-serif;*/
}
 
.product-old-price {
    text-decoration: line-through;
    color: var(--product_old_price_color); 
}

/******************/
.product-name {  
    font-size: 110%;
    color: var(--product_title_color);
    font-weight: 400;
    /*font-family: Arial, sans-serif;*/
} 
/******************/

.shop-product-card:hover {
    -webkit-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd; 
}
/******************/
 
.shop-product-card .product-image {
    max-height: 100%;
    padding: 5px;
}
  
/******************/
.shop-product-card .product-name, .shop-product-card .price-holder {
    padding: 0 5px 0; 
}
.shop-product-card .product-meta { padding: 10px 0; }
/******************/
   
.buy-btn:hover { 
    background-color: var(--add_to_cart_btn_bg_hover);
}
 
/*========================*/
.generic_car ul, .generic_car_list ul {
    font-size: 13px; 
    color: #333;
    height: 55px; 
}
.generic_car_list ul {
    height: auto;
}
.generic_car ul li, .generic_car_list ul li {
    width: 48%; 
    padding: 0 5px;
} 
 
/*=========== PRODUCT ON LIST ==================*/
.shop-product-card-list {
    margin: 10px 0;
    background-color: var(--product_bg);
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
}
.shop-product-card-list:hover { box-shadow: -4px 4px 11px -9px rgba(108, 30, 54, .5);}

.shop-product-card-list .product-image-wrapper { height: 120px; }

.shop-product-card-list .product-image-wrapper > a {
    height: 100%;
}

.shop-product-card-list .product-image {
    max-height: 120px;
    padding: 5px 0;
}

.shop-product-card-list .product-name { padding: 10px 0;}

.shop-product-card-list .buy-btn, .shop-product-card-list .not-available { margin: 10px 5px; }
 
.shop-product-card-list .ribbon-sale {
    position: absolute;
    left: -5px; 
    top: -5px;
    z-index: 1; 
    width: 75px; height: 75px;
}
.shop-product-card-list .ribbon-sale span {
    font-size: 13px;  
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px; 
    background: var(--global_color);
    box-shadow: 1px 1px 5px #bbb;
    position: absolute;
    top: 19px;
    left: -21px;
}
.shop-product-card-list .ribbon-sale span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid var(--global_color);
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--global_color);
}
.shop-product-card-list .ribbon-sale span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid var(--global_color);
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--global_color);
}

/* ========= TAGS ============== */
.product-tags a {  
    margin: 10px 5px;
    padding: 2px 6px;
    background-color: #6c1e36;
    color: #fff;
} 
.product-tags a:hover {
    opacity: .8;
}
/*===========================*/
.product-preview-price {
    margin: 20px 0;
    /*font-family: Arial, sans-serif;*/
}
.price-label { 
    min-width: 120px;
    font-size: 130%;
}
.price-num {
    font-size: 130%;
}
/*===============*/

.article-manufacturer-text { font-style: italic; color: #666; }

.article-brand-img img { max-height: 50px; padding: 5px 0; }

.artical-brand-text { 
    margin: 5px 0 10px;
} 
.custom-label {
    background: #f9f9f9;
    padding: 5px;
    margin: 10px 0;
    border-left: 2px solid;
}

/*--- FOOTER ---*/
footer { 
    background-color: var(--footer_bg); 
    padding: 60px 0 40px; 
    border-top: 1px solid #000; 
}

.footer-logo img {
    margin: 0 0 10px; 
    max-height: 65px;
}
.ft-section-title { 
    min-height: 30px; 
    margin: 5px 0; 
    font-size: 125%;
}

footer .mailto { color: inherit; } 

footer li { margin: 5px 0; } 

.after-footer { 
	background-color: #fff; 
    padding: 10px 0;
}
.foot-note {
    padding: 30px 15px;
    background-color: #000; 
}
.foot-note a {
    color: #fff !important;
}
.JSfooter-secs {
    margin: 0 0 15px;
}

/*============== LOGO BANKS ===========*/ 
.banks > ul:first-of-type li img {
    max-height: 30px;
}
.after-footer .banks > ul:last-of-type li img {
    max-height: 42px;
}
.after-footer .banks {
    padding: 5px 0;
}
.after-footer .banks img {
    max-width: 150px;
    margin: 5px 0; 
}
.after-footer .banks .list-inline { margin-left: 0; }

.after-footer .banks.justify-between {
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
/*============== COOKIES ===========*/
.JScookies-part {
    position: fixed;
    left: 0;
    bottom: -500px;
    z-index: 999;
    width: 100%;
    background: rgba(255,255,255,.9);
    box-shadow: #737373 2px 7px 9px 2px;
    -webkit-box-shadow: #737373 2px 7px 9px 2px;
}
.JScookies-part .alert {
    max-width: 640px;
    width: 100%;
}
.JScookies-part .tab-titles li {
    float: none;
    clear: both;
}
.JScookies-part .tab-content, .JScookies-part .nav-tabs  { border-color: transparent; }

.JScookies-part .nav-tabs { background: #f5f5f5; }

.cookies_tabs {
    border: 1px solid #f5f5f5;
    background: #fff;
}
.JScookies-part .tab-content {
    max-height: 115px;
    overflow-y: auto;
}
.JScookies-part .nav-tabs > li > a, .JScookies-part .nav-tabs > li.active > a { padding: 5px 15px; }  

.JScookies-part .nav-tabs, .JScookies-part .nav-tabs > li > a, .JScookies-part .nav-tabs > li.active > a { 
    border: none; 
    border-radius: 0; 
}
.JScookies-part .nav-tabs > li > a:hover { background: #fff; }

.JScookies-part h4 { padding-bottom: 5px; }

.JScookiesInfo_btn { text-decoration: underline; }

/*- NEWSLETTER -*/
.d-content .newsletter { 
    padding: 20px 0;
}

.newsletter h5 {
    font-size: 26px;
    margin: 0 0 15px;
}
.newsletter input {
    height: 40px;
    padding: 5px 45px 5px 20px;
    border-color: #000;
    font-size: 125%;
}
.newsletter button {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 40px;
    height: 100%;
    background-color: var(--footer_bg);
    color: var(--a_href_color);
    padding: 0 10px;
    margin: 0;
    border: 1px solid #000;
} 
/*========== SOCIAL ICONS ========*/
#preheader > .social-icons {
    position: fixed;
    right: 0;
    top: 40%;
    transform: translateY(-35%);
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    z-index: 50;
}
.social-icons a {
    display: inline-block;
    font-size: 16px;
    width: 25px;
    height: 25px; 
    margin: 1px 0; 
    line-height: 25px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
}
.social-icons a:hover { opacity: .7; } 
.social-icons .facebook { background-color: #3b5999; }
.social-icons .twitter { background-color: #55acee; }
.social-icons .google-plus { background-color: #dd4b39; }
.social-icons .skype { background-color: #00AFF0; border-radius: 50px; }
.social-icons .youtube { background-color: #b30000; }
.social-icons .linkedin { background-color: #007bb5; }
.social-icons .instagram { background-color: #C13584; }
footer .social-icons a { margin: 10px 5px; }

/*--- SCROLL TO TOP ---*/
.JSscroll-top {
    position: fixed;
    font-size: 18px;
    line-height: 18px; 
    color: #747474;
    right: -70px;
    bottom: 95px;
    border: 1px solid #ddd;
    background: var(--scroll_top_bg);
    z-index: 20;
    padding: 10px 15px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.JSscroll-top:hover { background: var(--btn_bg); color: var(--btn_color);  }

/* ======= NEWS ========= */
iframe { max-width: 100%; }

.overlink {
    position: absolute;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    z-index: 1;
}
.single-new .bg-img, .iframe-padd {
    padding-top: 100%; 
} 
.card-blog iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
}
.single-new iframe {
    width: 100%;
    height: auto;
}
.single-new iframe {
    height: 56.25vh;
}
.half-width {
    max-width: 1200px;
    margin: auto;
}
.single-new .JSblog-slick button {
    display: none !important;
}

/**************/
.gallery-ban {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(8, auto);  
    grid-template-rows: repeat(4, minmax(160px, 1fr));
}
.gallery-ban .bg-img:nth-child(1) {
    grid-column: 1 / 4;
    grid-row: 1 / 5;
} 
.gallery-ban .bg-img:nth-child(2) {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
} 
.gallery-ban .bg-img:nth-child(3) {
    grid-column: 7 / 9;
    grid-row: 1 / 3;
} 
.gallery-ban .bg-img:nth-child(4) {
    grid-column: 6 / 4;
    grid-row: 3 / 5;
} 
.gallery-ban .bg-img:nth-child(5) {
    grid-column: 9 / 6;
    grid-row: 3 / 5;
}
.gallery-title {
    position: absolute;
    bottom: 30px;
    left: 15px;
    width: calc(100% - 30px);
    font-size: 180%;
    background: rgba(0,0,0,.2);
    padding: 10px 5px;
}
/**************/

.gallery_slider {
    display: grid;
    grid-gap: 10px;
}
.gallery_slider a {
    border: 1px solid transparent;
    padding: 5px;
}
.gallery_slider .JSimg-gallery { 
   transition: .2s ease-in-out; 
    -webkit-transition: .2s ease-in-out; 
}
.gallery_slider .galery_Active, .gallery_slider .JSimg-gallery:hover {
   transform: scale(1.05);
   border: 1px solid var(--global_color);
}

/**************/
.card-blog {
    margin: 15px 0 30px;
}
.card-blog:hover .bg-img, .card-blog:hover .iframe-padd {
   opacity: .8;
}
.card-blog .bg-img {
    padding-top: 100%; 
}
.blogs-title {
    margin: 15px 0;
    font-size: 115%;
    height: 32px;
}
.blogs-date {
    font-size: 85%;
}

/*============== SOCIAL ICONS ===========*/ 
.soc-cont {  
    padding: 15px 0;  
}
.soc-cont a {
    box-shadow: 3px 3px 6px rgba(0,0,0, 0.2);
    color: #fff;
    display: inline-block;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center; 
    font-size: 16px;
    margin: 3px 6px 3px 0;
}
.soc-cont a:hover {
    opacity: .7;
}
.soc-cont .fb { background: #3b5999; }
 
.soc-cont .tw { background: #55acee; }
 
.soc-cont .ln { background: #0077B5; }
 
.soc-cont .pin { background: #bd081c; }
  
.soc-cont .vib {  background: #59267c; }

.soc-cont .mail { background: #1aafff; }
/***************************/
.ktlg-page .box {
    box-shadow: 0 0 5px #ddd;
    padding: 15px 0;
    margin: 10px 0;
}
.ktlg-page span {
    font-size: 16px;
    font-weight: 500;
    display: block;
}
.ktlg-page a {
    padding: 5px 15px; 
    color: var(--btn_color);
    background: var(--btn_bg);
} 
/*- PRODUCT LIST OPTIONS -*/

.JSproduct-list-options {  
    border-bottom: 1px solid #ddd;
    margin: 15px 0;
    padding: 5px 0;
}

.view-buttons a {
    width: 27px;
    height: 27px;
    line-height: 17px;
    padding: 5px;
    font-size: 16px;
    border:1px solid transparent;
}

.view-buttons a.active {   color: var(--global_color); }

.view-buttons { margin: 0 10px; } 

.view-buttons a:hover { transform: scale(1.1); -webkit-transform: scale(1.1); } 

.view-buttons .grid:hover { transform: scale(1.1) rotate(90deg); -webkit-transform: scale(1.1) rotate(90deg); } 

.view-buttons .grid {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

/*========= COMPARED ARTICLES ==============*/
 
.show-compered-active {
    animation: pulse 1.5s ease-in-out infinite;
} 
@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(108, 30, 54, 0.66) }
    70% { box-shadow: 1px 1px 5px 15px rgba(108, 30, 54, 0) }
    100% { box-shadow: 0 0 0 0 rgba(108, 30, 54, 0); }
}  

#JScompareTable .JSclearCompare { 
    background: #bb0202;  
    padding: 2px 7px;
}
 
.compare-table table { width: 100%; } 
.compare-table table img {
	max-height: 75px;
	max-width: 100%;
} 
.compare-table tr td:first-child {
    text-align: left;
}

/*--- PRODUCT PREVIEW AND SLIDER GALLERY ---*/ 
/***************************/
.JSproduct-preview-image .JSmain_img {  
    max-height: 770px; 
}
.JSmain_img {  
  transition: 0.3s;
  padding: 5px;
}

.JSmain_img:hover { opacity: 0.7; }
 
.JSmodal {
    display: none;
    position: fixed;
    z-index: 61;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}
.full-screen {
    height: 100%;
}
.modal-cont {
    margin: auto;
    display: block;
    max-width: 700px;
    width: 90%;
    /*max-height: 90%;*/
    overflow: hidden; 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}  
.galery-cont {
    max-width: 100vw;
}
/****************/
.modal-cont .btn {
    border: 1px solid rgba(255,255,255, .2);
    position: absolute;
    top: 50%;
    left: 1px;
    z-index: 1;
    padding: 0;
    width: 30px;
    height: 50px;
    color: #fff;
    margin-top: -25px;
    display: none;
    background: rgba(0,0,0, .8);
} 
.modal-cont .JSright_btn {
    left: unset;
    right: 1px;
}
/****************/
.modal-cont img {
    max-height: 95vh;
    background: #fff;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}  
.JSclose-modal {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 10px;
    color: #fff;
    font-size: 25px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    text-shadow: 0 0 2px #000;
}
.JSclose-modal:hover {
    opacity: .7; 
}
#product-preview .JSclose-modal {
    color: #bb0202;
}
/****************/

.img-gallery {   
    border: 1px solid #dddd;    
    margin: 3px;
    padding: 5px;
    height: 300px;
    width: calc(50% - 6px);
    float: left;
}
.img-gallery img {  
	max-height: 280px; 
	max-width: 100%;
    margin: auto;
}
/****************/
 
.additional_img a { 
    border: 1px solid #dddd;
    max-width: 52px;
    margin: 3px;
    width: 100%; 
    height: 48px;
}
.additional_img a:hover {
    border-color: var(--global_color);
}
.additional_img img {
    max-height: 45px; 
    padding: 5px;
    margin: 2px 0;
}
/* ======================= */ 
 
/*- PRODUCT PREVIEW INFO -*/

#product-preview {
    margin: 25px 0 0;
} 
 
/* OSOBINE */
.attributes {
    margin: 0 0 10px;
} 
.attributes span {
    padding: 4px 12px;
    color: #fff;
    text-shadow: 1px 1px 1px #000; 
    border: 3px solid #ddd;
}
.attributes input { position: absolute; visibility: hidden; }

.attributes input:checked + span { border: 3px solid #000; } 

 
/* OSOBINE KRAJ */
a.add-amount-less, a.add-amount-more { 
	height: 31px;
	width: 20px;
	line-height: 31px; 
	background: #ddd;
} 
 
/*- PRODUCT PREVIEW TABS */

.product-preview-tabs ul > li > a {
    margin: 0 0 10px;
    border:none;
    border-bottom: 1px solid transparent;
    font-size: 115%;
}

.product-preview-tabs ul li.active > a, .product-preview-tabs ul li.active > a:focus, 
.product-preview-tabs ul > li > a:focus, 
.product-preview-tabs ul li.active > a:hover, .product-preview-tabs ul li > a:hover  
{
    border:none;
    border-bottom: 1px solid #555;
    background: transparent;
}

.product-preview-tabs { margin-top: 20px; } 

.tab-content {
    border: 1px solid #ddd;
    border-top: 0;
    padding: 10px 5px;
    min-height: 100px;
}
.tab-content table td { text-align: left; padding: 4px 5px !important; }
.tab-content table { width: 100%; }

/*===== COMMENTS ========= */
.comment-content { 
	margin-bottom: 5px;
	padding: 6px 10px;
	font-size: 13px;
    box-shadow: 0px 0px 10px #ddd; 
} 
.comment-date {
    font-size: 11px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.replies { margin: 0 0 0 20px; }
.replies .comment-content { color: #000; background: #e6e6e6; }

/* ============ INSIDE CART =============== */
.without-btn {
    border: 1px solid #ddd;
    margin: 15px 0px; 
    padding: 10px;
}
.without-btn.active {   
    border: 1px solid var(--btn_bg);
    color: var(--global_color); 
} 
.without-btn i { 
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease; 
}
.without-btn.active i { -webkit-transform: scale(1); transform: scale(1); }

/*- CART ITEMS -*/
.cart-labels { margin-top: 20px; }

.cart-labels li {
	padding: 7px 8px;
	color: #747474; 
    letter-spacing: 1px;
} 
.JScart-item {
    box-shadow: 0 2px 5px rgba(0,0,0,.05);
}
.cart-image { max-height: 125px; }

.cart-name a { line-height: 1.2; margin: 10px 0; } 

.cart-total-price { 
    font-size: 125%;
} 
a.JScart-less, a.JScart-more {     
    color: #b3b3b3;
    margin: 0 5px;
}
input.JScart-amount {
    width: 35px;
    height: 40px;
    margin: 0;
}
 
input.cart-amount {
    width: 40px; 
    height: 47px; 
    border-width: 0 0 0 1px;
}
/**********************/
.empty-page-label {  
    font-size: 120%;
    margin: 15px 0;
}
/**********************/

 /*- BELOW CART -*/ 

.cart-sum > div {
	padding: 7px 0;  
} 
.sum-label {
    color: #747474;
}
.sum-label, .sum-amount {
    min-width: 45%;
}
.sum-amount { font-size: 140%; } 

/**********************/

/*- CART ACTION BUTTONS -*/
.cart-action-buttons { 
    padding: 20px 0 0;
}
 
.remove-item {
    color: #bb0202 !important;
}
 
/*--- USER PAGE ---*/

.user-orders-table th { border: none !important; }

/*******************/
   
.modal-footer, .modal-header { border: none; }

/*******************/

.swal-button--yes {
    background: #961f1f;
}
.swal-button--yes:hover {
    background: #9a3737 !important;
}
.swal-button--no, .swal-button--confirm {
    background-color: var(--btn_bg);
}
.swal-button--no:hover, .swal-button--confirm:hover {
    background-color: var(--btn_hover_bg) !important;
}
.swal-button {
    border-radius: 0;
}

/*******************/

.map-frame {
    margin: 10px 0;
    height: 330px; 
}
.map-info {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    width: 225px;
    height: 54px;
    background: #fff;
    padding: 10px 0 10px 15px;
}
.map-info h5 {
    text-shadow: 0 0 0.1px;
    font-size: 14px;
    margin: 0 0 5px; 
    color: #000;
}
.map-info h6 { 
    color: #5B5B5B; 
    font-size: 12px;
}
.map-info h5, .map-info h6 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
footer .map-frame  {
    height: 250px; 
}
/*--------- AlL  CATEGORY PAGE -------------*/
.category-heading {
    margin: 15px 0 0;
    padding: 5px 10px;
    border-radius: 2px;
    background-color: #f9f9f9;
}
.category-name-link {
	margin: 3px 0; 
	border-bottom: 1px solid #ddd;
} 

.category__list__item__link { line-height: 1.7; }

.category-name-link, .category-heading, .category__list__item__link { font-size: 100%; } 

.JScategory-sidebar__list { margin: 20px 0; background: #f9f9f9; }

.category-sidebar__list--fix { position: fixed; top: 15px; width: 270px; }

.category-sidebar__list__item__link { 
    padding: 2px 10px;  
}
.sticky-element {
    position: sticky;
    position: -webkit-sticky;
    z-index: 1;
    top: 0;
}

/*================*/
 
.JSlevel-1 > li:hover > a,   
.footer-links li a:hover,  
.top-menu a:hover, #main-menu > li:hover > a { 
    color: var(--global_color); 
}

.JSlevel-1 > li:hover > a

.vezani_artikli .linked-articles-input { border: none; }
 
/*================*/

.admin-article { 
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 1;
    background: linear-gradient(#fff,#ddd); 
    padding: 0 7px;
    margin: 5px 0; 
    border: 1px solid #ddd;
}
.admin-article a { 
    border: 1px solid #bbb;
    font-size: 11px;
    padding: 0 5px; 
}
 
/*================*/

.new-content { padding: 30px 0; }

.new-content img { 
	max-width: 100%;
	max-height: 700px;      
	margin: 0 5px; 
}  

/* POLLS */
.polls {
    max-width: 600px;
    margin: auto;
    background: rgba(0,0,0, .03);
    padding: 5px 15px;
}
.poll {
    box-shadow: 0 0 8px rgba(0,0,0, .1);
    background: #fff;
    padding: 15px;
    margin: 15px 0;
}
.poll .question {
    font-size: 105%;
    margin: 0 0 5px;
}
.poll input { cursor: pointer; }

.poll .answer {
    padding: 2px 0;
} 
.poll .answer:hover {
    background: rgba(0,0,0, .03);
}
.polls .btn {
    background: rgba(0, 0, 0, .05);
    width: 100%;
    max-width: 115px;
}
.polls .btn:hover {
    background: rgba(0, 0, 0, .09);
}
/*======= ACTION SLIDER ==============*/
.btn-slider {
	padding: 1px 5px;
    color: var(--global_color);
    background-color: transparent; 
    top: -35px;
    position: absolute;
}
.btn-slider:active { opacity: .6; }
  
/* ADDITIONAL FILES */
.files-list-item { 
    margin: 10px;
}
.files-name { font-weight: normal; margin: 6px; }

.features-list li { 
	border-bottom: 1px solid #ddd;
	padding: 2px 10px; 
    width: 49%;
}

.features-list li:nth-child(even) { background: #f9f9f9; }

.generated-features-list:nth-child(even) { background: #f9f9f9; }

.generated-features-list > li:nth-child(1), .generated-features-list > li:nth-child(2), .generated-features-list > li ul li {
    display: inline-block;
    padding: 2px 5px;
    line-height: 1.3;  
}

.generated-features-list > li:nth-child(1) { width: 28%; }

.generated-features-list > li:nth-child(2) { width: 70%; }

.generated-features-list > li ul li { border-bottom: 1px solid #ececec; width: 50%; }

.generated-features-list > li ul li:nth-last-child(-n+2) { border-bottom: none; }

.files-link img { max-width: 60px; }

/*============ BRENDS ==============*/
.brend-item {
	background: #fff; 
	padding: 5px 15px; 
	color: #222;
	height: 80px;
	margin: 15px 0; 
	box-shadow: 1px 1px 3px #f2f2f2;
    justify-content: center;
    -webkit-justify-content: center;
}
.brend-item img { max-height: 70px; padding: 5px 0; }
/*.brandSlider img{
    max-width: 100%;
    max-height: 60px;
    margin: 15px 0;
    }*/

/*=======================*/
.article-edit-btn {  
    border: 1px solid #bbb; 
    font-size: 11px;
    padding: 0 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #fff;
    z-index: 2;
} 
/******************/
#admin-menu { 
    background: #f2f2f2; 
    padding: 5px;   
    position: sticky;
    top: 0;
    z-index: 5; 
}
#admin-menu a i { color: #e55539; font-size: 15px; }
#admin-menu { font-size: 12px; } 
#admin-menu a:hover { color: #aaa; }
/******************/

.success {
    margin: 15px;
    padding: 5px; 
}

/* OCENE */ 

.review, .rate-me-artical { color: var(--review_star_color); } 

/******************/

.bw { background-color: var(--inner_body_bg); }

/******************/

.karak-row {
	min-height: 25px;
	border-bottom: 1px solid #bbb; 
}
.karak-row:last-child {
	border-bottom: none;
}


/*---------- MEDIAQUERIES ----------*/
@media (max-width: 1920px) {  
    .JSmain-slider {
        max-height: 760px;
    }
}
@media (max-width: 1600px) {  
    .JSmain-slider {
        max-height: 640px;
    }
}
@media (max-width: 1366px) {  
    .JSmain-slider {
        max-height: 545px;
    }
}
@media (min-width: 1440px) { 
    #start-page .d-content:after { 
        max-width: 1410px; /* CONTAINER CONTENT WIDTH */
        left: calc(50% - 705px); /* 705px = (CONTAINER CONTENT WIDTH / 2)  */ 
    }
}
/****************/
@media (min-width: 1200px) { 
    .container {
        width: 100%;
        max-width: 1440px;
    } 

    .img-gallery {   
        width: calc(33% - 4px);
    }
}
/**********************************/
@media screen and (min-width:991px) { 
    .sticky_head {
        position: sticky !important;
        top: 0; 
        z-index: 5;
        background: var(--header_bg);
    } 
    body.modal-open { overflow-y: auto; margin-right: -17px; overflow-x: hidden; }

    .JScart-item li { 
        min-height: 140px;
    }  

    .top-menu li, #main-menu > li, .md-inline-block, .JSlevel-1 > li  { display: inline-block; }

    #product-page .JSproduct { width: 33%;  } 

    .md-text-right { text-align: right; } 
    .md-text-center { text-align: center; } 
    .md-static { position: static; }
    
    /****************/
/*    .shop-product-card .product-image-wrapper > a:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        -webkit-transition: .2s ease-in-out; 
        transition: .2s ease-in-out;
        background: rgba(0,0,0,.2); 
        opacity: 0; 
    }
    .shop-product-card:hover .product-image-wrapper > a:after {
        opacity: 1; 
    }*/
    /****************/
    #responsive-nav a { font-size: 93%; }
 
    .JSlevel-1 > li > a, #main-menu > li > a {
        position: relative;
        padding: 7px !important;
        font-weight: 500; 
        text-transform: uppercase; 
    }


    .JSlevel-1 > li > a, .JSlevel-2 > li > a,  #main-menu > li > a { line-height: 25px; }

    .JSlevel-2 + .JSsubcategory-toggler, 
    .JSlevel-3 + .JSsubcategory-toggler {
        display: none;
    }
 
    /****************/
    /*.banners:after {
        content: '';
        position: absolute;
        top: 15px;
        left: 15px;
        bottom: 15px;
        right: 15px;
        border: 2px solid #fff;
        transform: scale(0);
        -webkit-transform: scale(0);
        transition: .3s;
        -webkit-transition: .3s;
    }
    .banners:hover:after {
        transform: scale(1);
        -webkit-transform: scale(1);
    }*/

    /****************/

    .drop-2 {
        min-width: 160px;
        z-index: 3;
        background-color: #fff;
        box-shadow: 0 0px 25px rgba(0,0,0, .2); 
    }

    .JSlevel-1 > li:hover .JSlevel-2, 
    #main-menu > li:hover .drop-2,
    .header-cart-container:hover .JSheader-cart-content  
    {
        opacity: 1;
        visibility: visible;
        top:100%;
    }

    .drop-2, .JSlevel-2, .JSheader-cart-content  {
        top: 90%;
        position: absolute;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: top .05s ease-in-out;
        -webkit-transition: top .05s ease-in-out;
     }

    .JSheader-cart-content {
        right: 0;
        left: unset;
    }

    .JSlevel-2 {
        background: #fff;
        min-height: 220px;
        width: 100%;
        min-width: 500px;
        z-index: 22;
        padding: 20px 0;
        box-shadow: 0 0px 20px rgba(0,0,0, .2);
    }    
    .JSlevel-1 > li.li_hover:hover:after, #main-menu > li.li_hover:hover:after  {
        position: absolute;
        content: "";
        border: 7px solid transparent;
        border-bottom-color: #fff;
        bottom: 0;
        z-index: 22;
        left: calc(50% - 14px);
    }
    /*.level-2-wrap {
        max-width: 1440px;
        margin: 0 auto;
    } */
    .shop-product-card .add-to-cart-container {  
        transform: translateY(100%);
        -webkit-transform: translateY(100%); 
    }
    .shop-product-card:hover .add-to-cart-container {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }

    .shop-product-card .product-meta {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-flex-wrap: wrap;
    }

    .shop-product-card .product-name { flex: 2; }
    .shop-product-card .price-holder { flex: 1; } 
    
    .md-no-padding { padding: 0; }
}
/*--- MIN WIDTH 768px ---*/
@media screen and (min-width: 768px) {
    .card-blog { padding: 5px; }

    .login-dropdown {
        left: unset;
        right: 0;
    }

	.generated-features-list:last-child { border-bottom: none; }
	
    .generated-features-list {
		padding: 0 10px;
		display: table;
		width: 100%;
		border-bottom: 1px solid #ccc;
	}   
    .md-absolute {
        position: absolute;
        z-index: 2;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }

    .shop-product-card .product-image-wrapper { 
        padding-bottom: 140%;  
    } 
    .shop-product-card .product-image-wrapper > a:not(.article-edit-btn) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
    }
    .shop-product-card .add-to-cart-container { 
        -webkit-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out; 
        position: absolute; 
        bottom: 0; 
        z-index: 2;
        width: 100%; 
        background: #fff;
        padding: 5px 0 0;
    } 

    .shop-product-card .price-holder, .shop-product-card .product-name  {
        height: 58px; 
    }
    /****************/
    .new_description {
        position: absolute;
        background: rgba( 255,255,255,.95);
        bottom: 5px;
        right: 5px;
        width: 80%;
        padding: 10px 10px 20px 10px;
        z-index: 2;
    }

    .blogs-date a { float: right; }

    .contact-page > div { min-height: 580px; }
    #map_canvas { 
        position: absolute !important;
        bottom: 0;
        height: 290px; 
        width: 100%;
    }

    /****************/
    .main_imgGallery { height: 500px; }

    .main_imgGallery .JSmain_img { max-height: 490px; }

    .container-fluid  .gallery_slider {
        grid-template-columns: repeat(15, 1fr);
    }
    .container .gallery_slider { grid-template-columns: repeat(10, 1fr); }
        
    .gallery_slider {
        grid-auto-rows: 70px;
    }
    .gallery_slider img { max-height: 60px; }

    .JScookiesInfo_btn { 
        float: right; 
        padding: 7px 15px;
        margin: 5px 0;
    }

    /*============== LOGO BANKS ===========*/ 
    .after-footer .banks .banc_main_logo img { 
        max-width: 235px; 
        margin: 0 8px; 
    }
}

/*======================*/
  
@media only screen and (max-width: 991px) {

    .header-right { text-align: right; }

    #responsive-nav a:hover { color: var(--global_color); }

    .JSlevel-2 { display: none; }

    #responsive-nav {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        max-width: 330px;
        width: 0%;
        background-color: #fff;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        /*-webkit-transition: 0.5s all;*/
        /*transition: 0.5s all;*/
        z-index: 40;
        overflow-y: auto;
        padding: 10px;
        box-shadow: 0 0 5px #dadada;
    }
    .resp-nav-btn { 
        color: #000;
        padding: 0 10px;
        font-size: 22px; 
    }
    .open_cat {
        width: 100% !important;
        -webkit-transform: translateX(0%) !important; 
        transform: translateX(0%) !important;
    }
    .JSclose-nav {   
        font-size: 50px;
        color: #000;
        /*padding: 0 5px;*/
        line-height: 35px;
        height: 45px;
    } 
    .JSclose-nav:hover {
        opacity: .7;
    }
    /******************/

    .JSmain-slider .slick-next { right: 5px; } 
    .JSmain-slider .slick-prev { left: 5px; }

    /******************/

    .JScart-item {
        margin: 10px 0; 
    }
    .container { width: auto; padding: 0; }
     
    .JSlevel-1 li { margin: 3px 0; position: relative; } 
    
    .sm-no-padd { padding: 0; } 

    .hidden-small, .JSlevel-3 { display: none; }

    .top-menu ul a {
       border-bottom: 1px solid #fff;
    }
    /*************************/
    #responsive-nav a { color: #000; }


    .JSsubcategory-toggler {
        color: #000;
        background: #fff;
    }

    .text-banner-section { padding-right: 15px; }

    .text-banner-section h2 { font-size: 140%; }
    
    .text-banner-section .short-desc { display: none; }
}
/*=================*/
@media only screen and (max-width: 768px) {

    .header-right { text-align: center; }

    .container-fluid { padding: 0; }

    .JSmain-slider .slick-next, .JSmain-slider .slick-prev {
        width: 35px;
        height: 35px; 
    }
    .JSmain-slider .slick-prev:before, .JSmain-slider .slick-next:before {
        width: 13px;
        height: 13px;
    }

    .sliderText, .sliderText div *, .sliderText h2  { font-size: 16px; }

    /****************/

    .JScategory-sidebar__list {
        position: fixed;
        top: 50%;
        right: 0px;
        margin-right: -80%;
        width: 80%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: margin 0.2s ease-in-out;
        transition: margin 0.2s ease-in-out;
        border: 1px solid #ddd;
    }
    .JScategory-sidebar__list__toggler {
        line-height: 30px;
        text-align: center;
        font-size: 20px;
        width: 35px;
        height: 35px;
        position: absolute;
        top: 50%;	
        transform: translateY(-50%);
        left: -35px;
        background: #f0f0f0;
        border-radius: 3px 0px 0px 3px;
        color: #747474;
        font-weight: 700;
        border: 1px solid #747474;
        cursor: pointer;
    }

    .category-sidebar__list--open { margin-right: 0%; }  

    .category-sidebar__list--open .JScategory-sidebar__list__toggler:before { content: "\2192"; } 

    .JScategory-sidebar__list__toggler:before { content: "\2190";}  
    
    .sm-text-center { text-align: center; }
 
    .generated-features-list > li:nth-child(2) { width: 100%; }
   
    #main-content { min-height: 400px; } 
    
    .ft-section-title { min-height: auto; margin: 15px 0 0; border-bottom: 1px solid #ddd; padding: 0 0 5px; }
    
    .karak-row { height: auto; border: none; }
    
    .category-sidebar__list__item__link { padding: 5px 10px; } 
    
    .JSproduct-list-options { padding: 5px 0; }
         
    .generated-features-list { margin: 30px 0; }
    
    .product-preview-tabs .generated-features-list .features-list-title { 
        border-top: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
        color: #000; 
        font-weight: 600; 
        width: 100%;
    }      
    
    .shop-product-card .product-image-wrapper > a:not(.article-edit-btn) {
        height: 350px;
    }
    .shop-product-card .product-image {
        max-height: 350px;
    }

    .shop-product-card-list .product-old-price { display: block; }

    .shop-product-card .price-holder { padding-top: 10px; }

     /****************/
    .button {
        font-size: 95%;
        padding: 8px;
    }
    .page-title {
        font-size: 100%;
    }

    /****************/
 
    .sm-margin-15 {
        margin: 15px 0;
    }

    .compare-table {
        padding: 10px 3px;
    }
    /****************/

    .date_blog {
        position: absolute;
        top: 0;
        z-index: 1;
        background: #fff;
        right: 0;
        border: 1px solid #000;
        padding: 5px 8px;
    }

    /****************/

    .quantity_cart > div {
        flex:1;  
        min-width: 100px;
    }
    .quantity_cart > button {
        flex:1;
    }

    footer li { margin: 8px 0; }  

    /****************/

    .gallery-ban {
        grid-template-rows: repeat(4, minmax(40px, 1fr));
    }

    .gallery-title {
        font-size: 110%;  
    }
    /****************/
    .main_imgGallery { height: 200px; }

    .main_imgGallery .JSmain_img { max-height: 190px; }

    .gallery_slider {
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 50px;
    }
    .gallery_slider img { max-height: 40px; }

    /*============== LOGO BANKS ===========*/ 
    .after-footer .banks { 
        flex-direction: column;
        -webkit-flex-direction: column;
    }

} 

/*--- MAX WIDTH 480px ---*/
@media screen and (max-width:479px) { 
    
 	.section-title, .blog-title { 
        font-size: 70%;
    }
    
    .swal-title, .newsletter h5 { font-size: 20px; }
	
    .scrollable { overflow-y: scroll; max-height: 400px; }
	
    .article-heading { font-size: 16px; }
	  
    .tab-titles li { font-size: 13px; } 
           
    .sliderText > *, .sliderText h2 {
        font-size: 14px; 
        margin: 0;
        padding: 7px;
    }    
    .sliderText .slider-btn-link {
        margin: 0;
    }
     
    .JSmain-slider {
        max-height: 165px;
    }

    .buy-btn, .not-available {
        padding: 10px;
    }

    .img-gallery {
        height: 170px;
    }
     .img-gallery img {
        max-height: 160px;
     }
}