
body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: normal;  
    color: var(--body_color); 
    background-color: var(--body_bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}  

.nav>li>a:focus, .nav>li>a:hover{ background-color: transparent; }

a:link, a:visited, a:active { text-decoration: none; color: inherit; }
a:hover { color: inherit; transition: all 0.1s ease 0s; -webkit-transition: all 0.1s ease 0s; }

ul { list-style-type: none; }

/*NO MARGIN*/
body, .no-margin, .row, input[type="checkbox"], input[type="radio"], ul, h1, h2, h3, h4, h5, h6,
.JSinfo-popup .p-info, .header-search input[type="text"], .product-timer,
input.JScart-amount, input.cart-amount, .vezani_artikli .linked-articles-input, .header-search select,
.JScookies-part .nav > li > a
{
    margin: 0; 
}
/***************************************/
/*NO PADDING*/
body, .no-padding, .currency-list, ul, .JSsticky_header .logo, .sub-group a,  
input.JScart-amount, input.cart-amount
{
    padding: 0;
} 
/***************************************/
/*TEXT CENTER*/
.JSinfo-popup .p-info, .JSsubcat-toggle,
.shop-product-card-list .ribbon-sale span, .JSscroll-top, .zoomWrapper, 
input.JScart-amount, input.cart-amount, .user-orders-table th, .user-orders-table td, .bootbox p, .vezani_artikli .linked-articles-input,
.admin-article, .article-edit-btn, .like-it, .printer, .product-meta,
.not-available, .buy-btn, .no-articles
{
    text-align: center;
}
/***************************************/
/*RELATIVE*/
.relative, .section-title, select, .popup-wrapper, span.select-wrapper, .JSlevel-2 li,
.zoomWrapper, .comment-content, .files-list-item, #main-menu li,
.shop-product-card-list, .JSproducts_slick, .JSblog-slick, .ft-section-title
{
    position: relative;
}
/***************************************/
/*INLINE BLOCK*/
.inline-block, .capcha input[type="text"], .popup-wrapper, .selected-filters li, 
.buy-btn, .not-available, .generic_car ul li, .generic_car_list ul li,
.product-tags a,  .footer-links li a, #JScompareTable .JSclearCompare,
.article-level-edit-btn, .files-list-item, .features-list li,  
.mini-cart-sum i, .sum-label, .sum-amount, .top-menu a,
a.JScart-less, a.JScart-more
{
    display: inline-block;
}
/***************************************/
/*COLOR WHITE*/
.category-nav h3, .shop-product-card-list .ribbon-sale span,
#JScompareTable .JSclearCompare, .bootbox .modal-dialog .btn:nth-child(1),
.color-white
{
    color: #fff;
}
/***************************************/
/*BOLD*/
.text-bold, .compare-table tr td:first-child, 
.comment-name, .article-level-edit-btn,
.files-list-item, .brend-item, .success,  
.PDV, .descr-title 
{
    font-weight: 600;
}
/***************************************/
/*FONT 500*/
label, .mostPopular a, .button, #main-menu li a, .JSlevel-1,
.not-available, .buy-btn, .product-name, .newsletter h5, .category-heading,
.without-btn, .top-menu a, .article-edit-btn
{
    font-weight: 500;
}
/***************************************/

/*OUTLINE NONE*/
.btn.focus, .btn:focus, .btn:hover, .JSproducts_slick > *:focus, .JSblog-slick > *:focus,
a:link, a:visited, a:active, button:focus, .btn-slider, 
input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus
{ 
    outline: none; 
}
/***************************************/
/*LINE HEIGHT 1*/
.line-h, img, .facebook-btn-share, .first-popup .JSclose-me-please,  
.price-holder, .generic_car ul, .generic_car_list ul,  span.select-wrapper
{
    line-height: 1;
}
/***************************************/
/*TEXT UPPERCASE*/
.h2-container, .shop-product-card-list .ribbon-sale span,  
.compare-table tr td:first-child, .without-btn, .global-currency
{
    text-transform: uppercase;
}
/***************************************/
/*FONT SIZE 85%*/
img, .selected-filters li, .JSsubcat-toggle, .related-custom .title,
.compare-table tr td:first-child, .files-list-item, .review, .comment-rating, .sub-group a
{
    font-size: 85%;
}
/***************************************/
/*DISPLAY BLOCK*/
.section-title, .filter-price, .filter-text, #main-menu .drop-2 li a, .header-dropdown:hover .drop-2,
span.select-wrapper, .search_list__item__link, 
.manufacturer-categories a,  
.product-price, .shop-product-card-list .ribbon-sale span,  
.comment-content, .comment-content span,.JSwithout-reg-none-personal.active, .JSwithout-reg-personal.active,
.category-name-link, .category__list, .category__list__item__link, .category-sidebar__list__item__link, .admin-article .supplier,
.no-articles, .JSlevel-1 a, #main-menu li a, .like-it
{
    display: block;
}
/***************************************/
/*DISPLAY NONE*/
.popup, .JSfilters-slide-toggle-content, .JShidden-msg, .slick-dots li,
.slickTitle, .JSlevel-2, .JSlevel-4, .cookies_tabs,
.JSwithout-reg-none-personal, .JSwithout-reg-personal, .JShidden-if-no-filters, .dropdown-backdrop
{
    display: none;
}
/***************************************/
/*DISPLAY FLEX*/
.flex, .cart-item li 
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
}
/***************************************/
/*VERTICAL ALIGN MIDDLE*/
.v-align, .logo, a.elevatezoom-gallery, a.JScart-less, a.JScart-more, .generated-features-list > li:nth-child(1), 
.generated-features-list > li:nth-child(2), .generated-features-list > li ul li,
.button, .printer
{
    vertical-align: middle;
}
/***************************************/
/*MARGIN AUTO*/
.first-popup .first-popup-inner, .margin-auto, .zoomWrapper img,
a.elevatezoom-gallery img, .cart-item li > * ,  .gallery_slider img, .modal-cont img, .JSmain_img
{
    margin: auto;
}
/***************************************/
/*OVERFLOW HIDDEN*/
.popup, .sub-group a, .overflow-hdn,
.JSmain-slider, .related-custom .title, .shop-product-card .product-name,
.product-image-wrapper, .generic_car ul, .generic_car_list ul, .shop-product-card-list .ribbon-sale,
a.elevatezoom-gallery, .additional_img a, .brend-item, .price-holder, 
.JSproducts_slick .slick-list, .JSblog-slick .slick-list, .shop-product-card, .gallery_slider a, .main_imgGallery, .map-frame  
{
    overflow: hidden;
}
/***************************************/
/*MAX WIDTH 100%*/
.first-popup-inner img, .max-width
{
    max-width: 100%;
}
/***************************************/
/*CURSOR POINTER*/
.button, .pagination .disabled a:hover, .pagination .disabled a, .first-popup .JSclose-me-please, .JSsubcat-toggle, 
#JScompareTable .JSclearCompare, .zoomLens, a.elevatezoom-gallery, .without-btn, .JSmain_img, .JSclose-modal:hover,
.JScookiesInfo_btn 
{
    cursor: pointer;
}
/***************************************/
/*BORDER RADIUS*/
.sale-label, .button, .category-nav h3, .not-available, .buy-btn,
.like-it, .printer, .newsletter input, .newsletter button,
.JSscroll-top, input[type="text"], input[type="password"], select,
#JScompareTable .JSclearCompare, .without-btn
{
    border-radius: 50px;
}
/***************************************/

.seo {  
    position: absolute;
    top: -999px;
    left: -999px;
}
img{
    color: #bbb;  
    white-space: nowrap;
    text-overflow: ellipsis;
}
.JSleft-body-link, .JSright-body-link { 
    position: absolute;
    left: 0; 
}
.JSright-body-link {  
    left: unset;
    right: 0;
}
/*************/
.global-currency {
    font-size: 70%;
}
/*===================*/

.mailto { word-break: break-word; }
 
/*===================*/
.capcha { 
    background: #f9f9f9;
    padding: 10px 0; 
    border-radius: 20px;
}
.capcha input[type="text"]{
    width: auto; 
    margin: 0 5px;
}
.capcha img { margin: 0 5px 10px; }
/*====================*/  

/*[class*="col-"]{ min-height: 0; }*/

/***********/

.pagination { margin: 10px 0 5px; }

.pagination li a {
    padding: 5px 10px;
    background-color: var(--pagination_bg);
    border: none;
    font-size: 130%;
}
.pagination>.active>a, .pagination>.active>a:hover{
    background: var(--pagination_bg_active);
    color: var(--pagination_color_active);
    font-weight: 600;
    border-bottom: 1px solid;
    border-radius: 0 !important;
    z-index: 0;
} 
/***********/

.soc-network{ margin: 0 2px; }  
 
.full-height {
    height: 100%;
}
.z-index-1 {
    z-index: 1;
} 

/***********/

.section-title{  
    margin: 10px 0;
    font-size: 20px;
    padding: 8px 0;
    border-bottom: 1px solid #DADADA;
    font-weight: 400;
    color: var(--h2_color);
}
/*.section-title:after{
	content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 60px;
    background-color: var(--global_color);
}*/
/***********/ 
 
.breadcrumb { 
    background-color: var(--breadcrumb_bg);
    margin: 0 15px 15px;
    font-size: 95%;
 }
 
 input[type="text"], input[type="password"], select, textarea {
	width: 100%;
	margin: 0 0 5px 0;
	color: #000;
	padding: 5px 15px;
	height: 38px;
    border: 1px solid #ddd; 
    background-color: var(--input_bg_color);
}
textarea {
    resize: none;
    height: auto;
    border-radius: 20px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('/images/select_arrow.png');
    background-size: 6px;
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) center;
}
.custom-select-arrow select {
    background-image: none;
}
label { 
    color: var(--label_color); 
    margin: 5px 0 0;
}

/*BUTTON*/
button {
    border: none;
    background: none;
}
.button {
    padding: 8px 15px;
    margin: 5px 3px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    background-color: var(--btn_bg); 
    min-width: 90px;
}
.button, a.button { color: var(--btn_color); }

.button:hover, .JSsearch-button2:hover { background-color: var(--btn_hover_bg); }

/************/

.padding-v-20 { padding-top: 20px; padding-bottom: 20px; }

.padding-h-15 { padding-left: 15px; padding-right: 15px; } 
/*.JSspinner {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255,.9);
    z-index: 172;
} 
.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: auto;
    position: relative;
    top: 50%;
    margin-top: -20px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: rgba(0,0,0, .2);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}*/

/************/
/*--- POPUP ADD TO CART ---*/
.popup {
    position: fixed; 
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; 
    background: rgba(0,0,0, .7);
    z-index: 99999;
}
.popup-wrapper {     
    max-width: 315px;
    width: 100%; 
    top: 40%;
    left: 50%; 
    transform: translate(-50%, 0);
} 
.JSinfo-popup .p-info { 
    color: #474747; 
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 5px 5px 20px 5px #333;
    font-size: 16px;
}
/*========================*/ 
.first-popup {
    position: fixed;
    top: -1000px; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 70;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex; 
}
.first-popup .first-popup-inner {  border: 1px solid #ddd;}
.first-popup .JSclose-me-please {
    color: #f2f2f2;
    position: absolute;
    top: -25px;
    right: -25px;
    z-index: 5;
    font-size: 30px; 
    padding: 0 5px;
    text-shadow: 0 0 3px #000; 
}
.first-popup .JSclose-me-please:hover {
    opacity: .8;
    text-shadow: 0 0 10px #000;
}
.first-popup-inner img { 
    max-height: 480px;
    padding: 2px;
} 
/*======================*/
.slick-slider img { margin: 0 auto;  }
.slick-slider { margin: 0 !important; }
/*======================*/

.JSproducts_slick .slick-prev, .JSproducts_slick .slick-next, 
.JSblog-slick .slick-prev, .JSblog-slick .slick-next {  
    position: absolute;
    top: -40px;
    right: 5px;
    z-index: 2; 
    margin: 0;
    width: 25px;
    height: 25px; 
    background: transparent;
    font-size: 0;
}
.JSproducts_slick .slick-prev, .JSblog-slick .slick-prev {
    left: unset; 
    right: 35px;
}
.JSproducts_slick .slick-next:before, .JSproducts_slick .slick-prev:before,
.JSblog-slick .slick-prev:before, .JSblog-slick .slick-next:before {
    content: '';
    border: 3px solid;
    border-color: var(--global_color) var(--global_color) transparent transparent;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: inline-block;
    width: 11px;
    height: 11px;
}
.JSproducts_slick .slick-prev:before, .JSblog-slick .slick-prev:before {
    border-color: transparent transparent var(--global_color) var(--global_color);
    margin: 0 0 0 5px;
} 
/*======================*/
/* filters */
.filter-links { 
	justify-content: space-between; 
	-webkit-justify-content: space-between;
	padding: 5px 0;
	border-bottom: 1px solid #ddd;
    margin: 5px 0 0;
    background-color: var(--filters_bg);
}
.filter-links i {
    line-height: 20px;
    font-size: 80%;
    opacity: .7;
}
.filter-price{ margin: 0 0 10px; }

/********/

#JSslider-range {
    max-width: 95%;
    margin: auto;
    height: 3px;
}
#JSslider-range div {
    background: #000;
}
#JSslider-range span {
    background: #000;
    border-radius: 50px;
    width: 10px;
    height: 10px;
}

/********/

.selected-filters li {  
    padding: 5px 10px;
    background-color: #f9f9f9;
    margin: 5px 0;
}
.filter-box label{  
    padding: 2px 10px; 
    flex-wrap: nowrap;
}
.filter-box label:hover{ box-shadow: 3px 0 0 inset; }

.filter-text{ margin: 0 5px; width: 100%; /*for flexbox*/ }

/* SLAJDER ZA CENU END */
a.JSreset-filters-button { 
    color: #e60000;
}
/****************************/
 
/*--- PREHEADER ---*/
#preheader { background-color: var(--top_menu_bg); }
 
.JStoggle-btn {
    margin: 5px;
    padding: 0 6px;
    border: 1px solid;
    user-select: none;
    position: absolute;
    z-index: 1;
}  
 
.top-menu a {
	padding: 5px;  
    color: var(--top_menu_color); 
} 

/**************/

.required-fields { font-size: 115%; padding: 0 15px;}
.required-fields span, .red-dot-error{ color: red; } 

 
/*===============================*/ 
#logout-button {
    padding: 0 5px;  
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
 
/*--- HEADER ---*/
header { 
    background: var(--header_bg); 
}
  
.JSsearch-button2 {
    padding: 6px 25px;
    font-size: 20px;
    color: var(--btn_color);
    background-color: var(--btn_bg);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.JSsearch-button2, .header-search input[type="text"] {
    border-radius: 0 50px 50px 0;
}

.header-search input[type="text"], .header-search select { 
    height: 44px; 
    border: 2px solid var(--blue);
}
/********/
/*.custom-placeholder {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 30px;
    transform: translateY(-50% );
    pointer-events: none;
    display: none;
}*/
/********/

.header-search input[type="text"] {
    border-left: 0;
    padding-right: 80px;
}

.header-search select {
    border-right: 1px solid #ddd;
    padding: 0 20px 0 12px;
    text-overflow: ellipsis;
    white-space: nowrap; 
    border-radius: 50px 0 0 50px;
    overflow: hidden;
} 

/*.header-search span.select-wrapper::after, span.select-wrapper::after {
    content: " ";
    border-top: 0.4em solid #808080;
    border-right: 0.2em solid transparent;
    border-left: 0.2em solid transparent;
    position: absolute;
    top: 42%;
    right: 8px;
}*/

/**********/ 
.mostPopular {
    padding: 5px 0 0;
}
.mostPopular a {
    max-width: 20%;
    white-space: nowrap;
    text-overflow: ellipsis; 
} 

/**********/ 

.header-cart-container:hover .JSheader-cart-content{ visibility: visible; opacity: 1; }

.JSheader-cart-content {
	background: #fff;
	position: absolute;
	width: 350px;
	right: 0; 
    box-shadow: 0 6px 12px rgba(0,0,0,.2); 
	visibility: hidden;
	opacity: 0;
	z-index: 10;
	transition: .1s ease-in-out;
	-webkit-transition: .1s ease-in-out;
    max-height: 550px;
    overflow: auto;
}
.mini-cart-item {
    padding: 15px 10px 10px;
    border-bottom: 1px solid #ccc;
}
.mini-cart-item:first-of-type {
    border-top: 2px solid var(--blue);
}
.mini-cart-title {
    margin: 0 0 10px;
    max-width: 90%;
}
.remove-cart-item {
    color: #e60000 !important;
    position: absolute;
    top: -3px;
    right: 5px;
}
.mini-cart-img { max-height: 55px; }
 
.mini-cart-sum li {  
    padding: 5px 10px;
    margin: 8px 0;
    background: #f9f9f9; 
}
.mini-cart-sum i {
    font-style: normal;
    min-width: 100px; 
}
 
/*======= STICKY HEADER ANIMATION ========*/
.JSsticky_header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 60;
    animation: smooth_slide .3s;
    background: var(--header_bg);
    box-shadow: 0 1px 4px #a6a6a6;
    padding: 5px 0;
}
@keyframes smooth_slide {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
} 
.JSsticky_header .logo img{ max-height: 45px; } 
.JSsticky_header .mostPopular { display: none; }

/*===== LOGO ==========*/
.logo { 
	padding: 10px 0; 
}
.logo img { max-height: 90px; }

 
/* Search sugestions */
ul.JSsearch_list {
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: 999;
    width: 100%;
    background: #fff;
    box-shadow: 1px 1px 10px #b3b3b3;
    max-height: 400px;
    overflow: auto; 
    font-size: 90%;
}
.JSsearch_list li:not(.search_list__title){ 
    margin: 0 0 5px;
    background: rgba(0,0,0,.02);
    padding: 4px 16px;
    line-height: 1.2;
} 
.search_list__item__link__cat { 
    color: #808080; 
    text-align: right; 
    display: block;
}
.search_list__title{
    font-weight: 600;
    padding: 3px 5px;
    background: rgba(0,0,0,.06);
    border-bottom: 1px solid rgba(0,0,0,.05);
}

/*- HEADER CART -*/
.header-cart { 
    margin: 12px 6px;
} 
.header-cart .fas {
    font-size: 40px;
    color: #808080;
}
.header-cart-container .total { 
    font-size: 125%; 
    letter-spacing: -1px;
}
.JScart_num {
    top: 8px;
    position: absolute;
    right: -8px;
    background: var(--cart_number_bg);
} 
    
.JSheader-cart-content .close:hover { opacity: .7; }

/***************/
.sub-group a {
	height: 55px;  
    margin: 3px;  
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
} 
.sub-group a:hover {
	border-color: var(--global_color);
}
.sub-group img {
    max-height: 50px;
    max-width: 50px; 
    padding: 5px 0;
    margin: 0 5px;
}
.sub-group span {
    max-width: 130px;
}  
/*============= Manufacturer =================*/
 
.manufacturer-categories h3 {
    font-size: inherit;
    margin: 5px 0;
    padding: 5px;
    font-weight: 100;
    border-bottom: 1px solid #ccc;
}
.manufacturer-categories a {
    margin: 3px 0;
    padding: 5px 10px;
    background-color: #f9f9f9;
}
/*==========================================*/

/*- CATEGORIES -*/ 
.lvl-1-img-cont { 
    width: 25px;
    height: 25px; 
    margin: 0 5px 0 0;
}
.lvl-1-img-cont img {
    max-width: 100%;
    max-height: 25px;
    padding: 1px;
}
.lvl-2-img-cont {
    width: 60px; 
    height: 50px;
    line-height: 50px; 
}  
.lvl-2-img-cont img { 
    max-height: 45px;
    max-width: 100%;
    mix-blend-mode: multiply;
} 

/* POLLS */
.polls {
    max-width: 600px;
    margin: auto;
    background: rgba(0,0,0, .03);
    padding: 5px 15px;
}
.poll {
    box-shadow: 0 0 8px rgba(0,0,0, .1);
    background: #fff;
    padding: 15px;
    margin: 15px 0;
}
.poll .question {
    font-size: 105%;
    margin: 0 0 5px;
}
.poll input { cursor: pointer; }

.poll .answer {
    padding: 2px 0;
} 
.poll .answer:hover {
    background: rgba(0,0,0, .03);
}
.polls .btn {
    background: rgba(0, 0, 0, .05);
    width: 100%;
    max-width: 115px;
}
.polls .btn:hover {
    background: rgba(0, 0, 0, .09);
}

/******************/

.JSlevel-1 li a {    
    padding: 6px 12px;
} 
.JSlevel-1 > li {
    background-color: var(--categories_level_1_bg);
}
.JSlevel-1 > li > a { 
    color: var(--level_1_color);
    line-height: 25px; 
    border-top: 1px solid var(--light-gray);
    border-left: 1px solid var(--light-gray);
    border-right: 1px solid var(--light-gray); 
} 
.JSlevel-2 li a {  
    color: var(--level_2_color); 
} 

 .JSlevel-3 li a { border-bottom: none !important; }  

/******************/
.category-nav {
    z-index: 6;
}
.category-nav h3 {
    border: 2px solid var(--blue); 
    font-size: 105%;
    padding: 15px; 
    background-color: #fff;
} 
.JSlevel-2 ul {
    margin-left:  20px;
}
#start-page .JSlevel-1 { display: block; }

/**************/  

#main-menu li a { padding: 15px 5px; } 
#main-menu > li > a {
    font-size: 110%;
}
.JSdark_bg {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%; 
    background: rgba(0,0,0,0.5);
    z-index: 5;
}
 
/*===============================*/
.drop-2 { 
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 190px; 
    z-index: 3;
}  
.drop-2 ul {
    margin-left:  20px;
}

/******************/

.JSsubcat-toggle { 
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 25px;
    line-height: 25px;
    background: #fff;
    mix-blend-mode: multiply;
}
.JSsubcat-toggle.rotate {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    color: var(--global_color);
} 
/*- MAIN CONTENT -*/
/*#main-content { min-height: 650px; padding-bottom: 15px; }*/

.d-content { 
    min-height: 500px;  
}
.d-content:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
}
/*- MAIN SLIDER -*/
.JSmain-slider .bg-img {
    padding-top: 56.6%; 
}

/*******/
.bg-img { 
    background: center/cover no-repeat;
}
.banners {
    margin: 5px 5px 5px 0;
} 
.banners:hover .bg-img, .gallery-ban .bg-img:hover, .text-banner a:hover {
    background-blend-mode: multiply;
    background-color: rgba(0,0,0, .2);
}
.banners .bg-img, .text-banner .bg-img {
    padding-top: 65%; 
    transition: .2s all;
    -webkit-transition: .2s all;
}
.JSsingle_ban .banners {
    margin: 0 5px 0 5px;
}
.container .JSsingle_ban .bg-img {
    padding-top: 178%;
}
.container-fluid .JSsingle_ban .bg-img {
    padding-top: 176%;
}

.banners .bg-img, .JSmain-slider, .gallery-ban .bg-img, .main_imgGallery .JSmain_img, 
.text-banner .bg-img, .text-banner a:hover {
    border-radius: 8px;
}
/********************/
.gallery-ban {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(8, auto); 
    grid-template-rows: repeat(4, minmax(160px, 1fr));
}
.gallery-ban .bg-img:nth-child(1) {
    grid-column: 1 / 4;
    grid-row: 1 / 5;
} 
.gallery-ban .bg-img:nth-child(2) {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
} 
.gallery-ban .bg-img:nth-child(3) {
    grid-column: 7 / 9;
    grid-row: 1 / 3;
} 
.gallery-ban .bg-img:nth-child(4) {
    grid-column: 6 / 4;
    grid-row: 3 / 5;
} 
.gallery-ban .bg-img:nth-child(5) {
    grid-column: 9 / 6;
    grid-row: 3 / 5;
}
.gallery-title {
    position: absolute;
    bottom: 30px;
    left: 15px;
    width: calc(100% - 30px);
    font-size: 180%;
}
/**************/
.gallery_slider {
    display: grid;
    grid-gap: 10px;
}
.gallery_slider a {
    border: 1px solid transparent;
    padding: 5px;
}
.gallery_slider a , .gallery_slider img {
    border-radius: 3px;
}
.gallery_slider .JSimg-gallery { 
   transition: .2s ease-in-out; 
    -webkit-transition: .2s ease-in-out; 
}
.gallery_slider .galery_Active, .gallery_slider .JSimg-gallery:hover {
   transform: scale(1.05);
   border: 1px solid var(--global_color);
}
/*--- GALLERY SLIDER ---*/ 
.JSmain_img {  
  transition: 0.3s;
  padding: 5px;
}
.JSmain_img:hover { opacity: 0.7; }
 
.JSmodal {
    display: none;
    position: fixed;
    z-index: 61;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}
.full-screen {
    height: 100%;
}
.modal-cont {
    margin: auto;
    display: block;
    max-width: 100vw;
    width: 90%;
    /*max-height: 90%;*/
    overflow: hidden; 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}  
/****************/
.modal-cont .btn {
    border: 1px solid rgba(255,255,255, .2);
    position: absolute;
    top: 50%;
    left: 1px;
    z-index: 1;
    padding: 0;
    width: 30px;
    height: 50px;
    color: #fff;
    margin-top: -25px;
    display: none;
    background: rgba(0,0,0, .8);
} 
.modal-cont .JSright_btn {
    left: unset;
    right: 1px;
}
/****************/
.modal-cont img {
    max-height: 95vh;
    background: #fff;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}  
.JSclose-modal {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 10px;
    color: #fff;
    font-size: 25px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    text-shadow: 0 0 2px #000;
}
.JSclose-modal:hover {
    opacity: .7; 
}
/********************/

.slider-link { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.sliderText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 100%;
    max-width: 560px;
    z-index: 2; 
    background: rgba(0,0,0,.3); 
    font-size: 20px;
    color: #fff;
}
.sliderText p {
    margin: 0;
}
.sliderText > * { 
    padding: 8px; 
} 
.slider-btn-link {
    padding: 3px 12px;
    font-size: 80%; 
    border: 1px solid;
} 

/*******/

.JSmain-slider .slick-next { right: 0; }
.JSmain-slider .slick-prev { left: 0; }
.JSmain-slider .slick-next, .JSmain-slider .slick-prev{
	height: 40px;
	width: 40px;
    margin: -20px 10px 0;
    background-color: rgba(0,0,0,.4);
    border-radius: 50px;
}
.JSmain-slider .slick-prev:before, .JSmain-slider .slick-next:before{
    content: '';
    border: 3px solid;
    border-color: #fff #fff transparent transparent;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    opacity: 1;
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 0 5px 0 0;
} 
.JSmain-slider .slick-prev:before {
    border-color: transparent transparent #fff #fff;
    margin: 0 0 0 5px;
}
.JSmain-slider .slick-prev:hover, .JSmain-slider .slick-next:hover { background-color: rgba(0,0,0,.8); }

 

/************************/

.related-custom .slick-prev, .related-custom .slick-next{
    display: none !important;
}
.related-custom .card{ 
    padding: 15px 0;
}
.related-custom .img-wrap img{
    max-height: 50px;
}
.related-custom .title{ 
    white-space: nowrap;
    text-overflow: ellipsis; 
}
.related-custom .price{
    font-size: 16px;
}
/*- PRODUCT */
.product-timer{
    position: absolute;
    width: 100%;
    background: #fff;
    bottom: 0;
    left: 0; 
    table-layout: fixed;
}
/*==================*/
.shop-product-card { 
    background: var(--product_bg); 
    transition: 0.2s all;
    -webkit-transition: 0.2s all; 
    border-radius: 10px;
    border: 1px solid var(--light-gray);
    margin: 10px 3%;
}
#JSQuickViewContent .sale-label { 
    position: absolute;
    left: 12px;
    top: 12px; 
    z-index: 2;
} 
.sale-label { 
    background: var(--sale_action_price_bg);
    padding: 5px 12px;  
} 
/*==========*/

.product-actions {
    position: absolute;
    top: 25px; 
    right: 15px; 
    z-index: 1; 
    transition: .3s ease-in-out;
} 
/*==========*/

.product-meta { 
     padding: 0 5px 15px;
     background-color: var(--product_bottom_bg);  
}

.not-available, .buy-btn  { 
    padding: 8px 4px;
    min-width: 130px;
    background: #fff;
    color: var(--global_color);
    border: 1px solid;  
    margin: 8px 0 0;    
} 
.not-available:hover, .buy-btn:hover {
    background: var(--global_color);
    color: #fff;
}
.not-available {
    opacity: .5;
}
.like-it, .printer { 
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: #666;
    background: #f2f2f2; 
    margin: 5px 0;
}
.like-it:hover, .like-it.active, .printer:hover{
    color: var(--global_color); 
    box-shadow: 0 0 0 1px;
}
.printer i { color: #666; }

.add-to-cart-container {  
    -webkit-transition: 0.3s all;
    transition: 0.3s all; 
}
/******************/ 
.num-rates{
    margin: 5px 0 10px;
}
.num-rates .lorem-1{
    font-size: 90%;
    color: #666;
    margin: 0 30px 0 0;
}
.num-rates select{
    font-family: Consolas, monospace;
}
.num-rates  .select-wrapper{
    min-width: 130px;
    display: inline-block;
}
/******************/ 
.quick-desc .features-list li {
    padding: 2px 0;
    width: 50%;
    float: left;
    background-color: #fff !important;
    font-size: 95%;
}
.quick-view-img {
    max-height: 320px; 
}
/************/
.product-name { 
    font-size: 14px;
    color: var(--product_title_color); 
    margin: 8px 0;
} 
.price-holder{ 
    font-size: 130%;
    color: var(--product_price_color);
    margin: 0 0 5px;
} 
.product-old-price {
    text-decoration: line-through;
    opacity: .7;
    font-size: 80%;
}
.shop-product-card:hover{
    border-color: var(--global_color);
}

.product-image-wrapper {
    height: 210px;  
} 
.shop-product-card .product-image { max-height: 200px; padding: 5px; }

/*.article-details{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
    opacity: 0; 
    visibility: hidden; 
    z-index: 5;  
    background-color: #FFF;
    box-shadow: 0 0 5px rgba(0,0,0, .5);
    padding: 10px 5px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    backface-visibility: hidden;
    -webkit-backface-visibility: visible;
}

.shop-product-card:hover .article-details{ opacity: 1;  visibility: visible;  }*/
 
 
/*========================*/
.generic_car ul, .generic_car_list ul {
    font-size: 85%; 
    color: #333;
    height: 55px; 
}
.generic_car_list ul{
    height: auto;
}
.generic_car ul li, .generic_car_list ul li{
    width: 49%;
    padding: 0px 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
} 
 
/*=========== PRODUCT ON LIST ==================*/
.shop-product-card-list {
	margin: 5px 0; 
    padding: 5px 0;
    background-color: var(--product_bg);
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
}

.shop-product-card-list:hover { border-color: var(--global_color); }

.shop-product-card-list .product-image-wrapper { height: 140px; }

.shop-product-card-list .product-image {
    max-width: 90%;
    max-height: 140px; 
    padding: 5px 0; 
}
.shop-product-card-list .product-name { margin: 20px 0 10px; }

.shop-product-card-list .like-it {
    display: inline-block;
    background: #fff;
    box-shadow: 0 0 0 1px;
    color: var(--global_color);
    margin: 3px;
}

.shop-product-card-list .ribbon-sale {
    position: absolute;
    left: -5px; 
    top: -5px;
    z-index: 1; 
    width: 75px; height: 75px;
}
.shop-product-card-list .ribbon-sale span {
    font-size: 13px;  
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px; 
    background: var(--global_color);
    box-shadow: 1px 1px 5px #bbb;
    position: absolute;
    top: 19px;
    left: -21px;
}
.shop-product-card-list .ribbon-sale span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid var(--global_color);
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--global_color);
}
.shop-product-card-list .ribbon-sale span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid var(--global_color);
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--global_color);
}

/* ========= TAGS ============== */
.product-tags {
    margin: 15px;
}
.product-tags a {  
    margin: 2px;
    padding: 2px 8px;
    background-color: var(--global_color);
    border-radius: 8px;
}
.product-tags div { border-bottom: 1px solid #ddd; }

/*===========================*/ 
   
.article-brand-img img { max-height: 50px; padding: 5px 0; }

.artical-brand-text {  
    margin: 5px 0 10px; 
} 
.article_top_info {
    position: absolute; 
    top: 10px;
    left: 10px;
    z-index: 1; 
    width: calc(100% - 20px);
    pointer-events: none;
} 
.JSproduct-preview-image .product-sticker {
    position: absolute; 
    top: 5px;
    left: 20px;
    z-index: 1; 
    pointer-events: none;
    width: calc(100% - 40px);
}
.article-sticker-img { flex:1; }

.article-sticker-img img { 
    max-height: 65px;
    padding: 2px; 
}
/************/

.contact-page .row {
    padding: 5px 0;
}

/************/
.newsletter {   
    padding: 50px 0px;
    background-color: var(--footer_bg);
}
.newsletter .half-width {
    max-width: 580px;
}
.newsletter h5 {
    font-size: 22px;
    margin: 0 0 15px;
}
.newsletter input {
    height: 50px;
    padding: 5px 130px 5px 20px;
    font-size: 120%;
    margin: 0;
}
.newsletter button {
    position: absolute;
    right: 0px;
    top: 0;
    height: 100%; 
    padding: 0 25px; 
} 

/*--- FOOTER ---*/
footer { 
    background-color: var(--footer_bg);
    padding: 20px 0 0;
}

.footer-logo {
    margin: 10px 0; 
    max-height: 65px;
}
.ft-section-title { 
    min-height: 25px;
    margin: 10px 0 20px; 
    font-size: 115%;
}
 
footer li { margin: 8px 0; } 
 
.JSfooter-secs {
    margin: 0 0 15px;
}

.foot-note {
    background: #3d3d3d;
    color: #bbb;
    padding: 30px 5px;
}

/*============== LOGO BANKS ===========*/ 
.banks > ul:first-of-type li img {
    max-height: 30px;
}
.after-footer .banks > ul:last-of-type li img {
    max-height: 42px;
}
.after-footer .banks {
    padding: 5px 0;
}
.after-footer .banks img {
    max-width: 150px;
    margin: 5px 0; 
}
.after-footer .banks .list-inline { margin-left: 0; }

/*============== COOKIES ===========*/
.JScookies-part {
    position: fixed;
    left: 0;
    bottom: -500px;
    z-index: 999;
    width: 100%;
    background: rgba(255,255,255,.9);
    box-shadow: #737373 2px 7px 9px 2px;
    -webkit-box-shadow: #737373 2px 7px 9px 2px;
}
.JScookies-part .alert {
    max-width: 640px;
    width: 100%;
}
.JScookies-part .tab-titles li {
    float: none;
    clear: both;
}
.JScookies-part .tab-content, .JScookies-part .nav-tabs  { border-color: transparent; }

.JScookies-part .nav-tabs { background: #f5f5f5; }

.cookies_tabs {
    border: 1px solid #f5f5f5;
    background: #fff;
}
.JScookies-part .tab-content {
    max-height: 115px;
    overflow-y: auto;
}
.JScookies-part .nav-tabs > li > a, .JScookies-part .nav-tabs > li.active > a { padding: 5px 15px; }  

.JScookies-part .nav-tabs, .JScookies-part .nav-tabs > li > a, .JScookies-part .nav-tabs > li.active > a { 
    border: none; 
    border-radius: 0; 
}
.JScookies-part .nav-tabs > li > a:hover { background: #fff; }

.JScookies-part h4 { padding-bottom: 5px; }

.JScookiesInfo_btn { text-decoration: underline; }

/*============== SOCIAL ICONS ===========*/
#preheader>.social-icons {
    position: fixed;
    right: 0;
    top: 35%;
    transform: translateY(-35%);
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    z-index: 3;
}
.social-icons a {
    display: inline-block;
    font-size: 16px;
    width: 25px;
    height: 25px; 
    margin: 1px 0; 
    line-height: 25px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
}
.social-icons a:hover{ opacity: .7; } 
.social-icons .facebook { background-color: #3b5999; }
.social-icons .twitter { background-color: #55acee; }
.social-icons .google-plus { background-color: #dd4b39; }
.social-icons .skype { background-color: #00AFF0; border-radius: 50px; }
.social-icons .youtube { background-color: #b30000; }
.social-icons .linkedin { background-color: #007bb5; }
.social-icons .instagram { background-color: #C13584; }
footer .social-icons a { margin: 10px 5px; }

/*--- SCROLL TO TOP ---*/
.JSscroll-top {
    position: fixed;
    font-size: 18px;
    line-height: 18px; 
    color: #fff;
    right: -70px;
    bottom: 95px; 
    background: var(--scroll_top_bg);
    z-index: 4;
    padding: 10px 15px; 
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
} 

/* ======= NEWS ========= */
.news {
    padding: 10px;
    margin: 20px 0;
    background: #fff;
    box-shadow: 0 0 3px 5px rgba(0,0,0, .05);
}
.news:hover {
    box-shadow: 0 0 4px 6px rgba(0,0,0, .1);
}
.news .bg-img {
    padding-top: 80%; 
}
.overlink {
    position: absolute;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
}
.news-title {
    margin: 10px 0;
    font-size: 135%;  
    font-weight: 500; 
}
.news-desc {
    height: 43px;
}

iframe { max-width: 100%; }

.news iframe, .single-news iframe{
    width: 100%;
    height: auto;
}
.single-news iframe{
    height: 56.25vh;
} 
.single-news { padding: 30px 0; }

/***************************/
.ktlg-page .box {
    box-shadow: 0 0 5px #ddd;
    padding: 15px 0;
    margin: 10px 0;
}
.ktlg-page span {
    font-size: 16px;
    font-weight: 500;
    display: block;
}
/*- PRODUCT LIST OPTIONS -*/
.JSproduct-list-options { border-bottom: 1px solid var(--light-gray); margin: 5px 0; }

.view-buttons a {
    width: 25px;
    height: 25px;
    line-height: 16px;
    color: var(--global_color);  
    border-radius: 50px;
    padding: 5px 0;
    margin: 0 4px;
}
.view-buttons .grid {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.view-buttons a.active { box-shadow: 0 0 0 2px rgba(0,0,0, .2); }
  
.view-buttons a:hover { opacity: .6; } 

/*========= COMPARED ARTICLES ==============*/
 
.currency-btn, .show-compered, .show-compered-active {
    background-color: var(--currency_bg);
    color: var(--currency_color); 
    padding: 2px 10px;
    margin: 7px 5px;
}

.currency-list li{ border-bottom: 1px solid #ddd; }

.currency-list { min-width: 100%; z-index: 3; }

.show-compered-active{
    animation: pulse 1.5s ease-in-out infinite;
} 
@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(248, 105, 74, 0.66); }
    70% { box-shadow: 1px 1px 5px 20px rgba(251, 174, 157, 0); }
    100% { box-shadow: 0 0 0 0 rgba(251, 174, 157, 0); }
}  

#JScompareTable .JSclearCompare { 
    background: #D13E3B; 
    padding: 2px 7px;
} 
.compare-table table{ width: 100%; }

.compare-table table td { 
    max-width: 275px;
}
.compare-table img{
	max-height: 75px;
	max-width: 100%;
} 
 
.article-heading {
    margin: 15px 30px 10px;
    font-size: 20px;  
    padding: 5px 0;  
} 

.product-preview-info li {
    margin: 3px 0;
}

/*- PRODUCT PREVIEW IMAGE -*/
.zoomWrapper {
    width: 100% !important;
    height: 400px !important;
    line-height: 400px; 
    background: #fff;
    overflow: hidden !important; 
} 
.zoomContainer:last-of-type, .zoomWindowContainer { display: none !important; }
.zoomWrapper span { width: 100% !important; }
.zoomWrapper img {
    position: relative !important;
    height: auto !important;
    max-height: 100% !important;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 50%;
    width: auto !important; 
    padding: 10px 0;
}
a.elevatezoom-gallery { 
    width: 100%;
    height: 90px;
    display: inline-flex;
    display: -webkit-inline-flex;
    background: #fff;
    z-index: 1;  
    margin: 5px 0;
    padding: 10px; 
}
a.elevatezoom-gallery img {  
	max-height: 70px; 
	max-width: 100%;
}
.fancybox-overlay-fixed { background: rgba(0, 0, 0, .7); }
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('../../../images/fancybox/fancybox_sprite.png') !important;
} 
.additional_img a { 
    border: 1px solid #dddd;
    max-width: 60px;
    width: 100%; 
    height: 50px;
}
.additional_img a:hover{
    border-color: var(--global_color);
}
.additional_img img{
    max-height: 45px; 
    padding: 5px;
    margin: 2px 0;
}
/* ======================= */ 

.product-preview-info * { letter-spacing: .3px; }

.add-to-cart-area { margin: 10px 0; }
 
/************/  
.attributes {
    margin: 0 0 10px;
} 
.attributes span {
    padding: 0 6px;
    color: #fff;
    text-shadow: 1px 1px 1px #000; 
    border: 3px solid #ddd;
}
.attributes input { position: absolute; visibility: hidden; }

.attributes input:checked + span { border: 3px solid #000; }
 
 
/***********************/ 

.product-preview-price > div {
    margin: 10px 0;
}
.price-label {
    font-size: 115%;
}
.price-num {
    font-size: 130%;
}
.discount, .price-num {  
    color: var(--discount_price_color);  
}
.mp-price { 
    color: var(--article_product_price_color);  
}
.main-price {
    font-size: 195%;
}
/***********************/
 
/*- PRODUCT PREVIEW TABS */
.product-preview-tabs { margin-top: 20px; } 
.tab-content {
    border: 1px solid #ddd;
    border-top: 0;
    padding: 10px 5px;
    min-height: 100px;
}
.tab-content table td { text-align: left; padding: 4px 5px !important; }
.tab-content table { width: 100%; }

/*===== COMMENTS ========= */
.comment-content { 
	margin-bottom: 5px;
	padding: 6px 10px;
	font-size: 13px;
    box-shadow: 0px 0px 10px #ddd; 
} 
.comment-date {
    font-size: 11px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.replies { margin: 0 0 0 20px; }
.replies .comment-content { color: #000; background: var(--light-gray); }

/* ============ INSIDE CART =============== */
.without-btn {
    box-shadow: 0 0 0 1px var(--light-gray);
    color: #808080;
    margin: 15px 0px;   
    padding: 8px 0;
}
.without-btn.active {  
    box-shadow: 0 0 0 1px var(--btn_bg);
    color: var(--btn_bg); 
} 

.without-btn i { 
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease; 
}
.without-btn.active i { -webkit-transform: scale(1); transform: scale(1); }

/*- CART ITEMS -*/
.cart-labels { border-bottom: 1px solid #e9e9e9; }

.cart-labels li {
	padding: 7px 8px;
	color: #747474; 
} 
.cart-item li {
	padding: 5px 3px; 
    min-height: 85px;
} 
.cart-image { max-height: 70px;  }
  
a.JScart-less, a.JScart-more {     
    color: #999; 
    padding: 0px 5px; 
}
input.JScart-amount {
    width: 30px;
    height: 25px;
    padding: 0;
    border-radius: 5px;
}
input.cart-amount {
    width: 35px; 
    height: 35px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #666;
    padding: 0;
}

 /*- BELOW CART -*/ 

.cart-summ > div { 
    padding: 8px 10px;
}  
.sum-label, .sum-amount {
    min-width: 45%;
}
.sum-amount { font-size: 140%; } 

.JSfree_delivery { color: #666; } 

.remove-item {
    color: #e60000 !important;
}
 
/*--- USER PAGE ---*/
 
.user-orders-table tr th {
    background-color: #f9f9f9;
    border-bottom: none !important;
}
/**********/
.modal-footer, .modal-header{ border: none; }
.bootbox p {    
    font-size: 120%;
    margin: 10px 0 0;
} 

.bootbox .modal-dialog{ top: 30%; }

.bootbox .modal-dialog .btn{ padding: 5px 30px; border: none; border-radius: 0;}

.bootbox .modal-dialog .btn:nth-child(1){
    background-color: var(--btn_bg); 
}
.bootbox .modal-dialog .btn:hover{ box-shadow: 1px 1px 5px #666; }

/*--- CONTACT PAGE ---*/
.map-frame {
    margin: 10px 0;
    height: 330px; 
}
.map-info {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    width: 225px;
    height: 54px;
    background: #fff;
    padding: 10px 0 10px 15px;
}
.map-info h5 {
    text-shadow: 0 0 0.1px;
    font-size: 14px;
    margin: 0 0 5px; 
    color: #000;
}
.map-info h6 { 
    color: #5B5B5B; 
    font-size: 12px;
}
.map-info h5, .map-info h6 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
footer .map-frame {
    height: 230px;
}

/*--------- AlL  CATEGORY PAGE -------------*/
.category-heading {
	margin: 15px 0 0;
	padding: 4px 10px;
    border-radius: 2px;
    color: #000;
    background-color: #f9f9f9;
}
.category-name-link {
	margin: 3px 0; 
	border-bottom: 1px solid #ddd;
} 
.category__list__item__link { line-height: 1.7; }
.category-name-link, .category-heading, .category__list__item__link { font-size: 1em; } 
/*--------- ALL  CATEGORY SIDEBAR ------------- */

.JScategory-sidebar__list { margin: 20px 0; background: #f9f9f9;  }
.category-sidebar__list--fix { position: fixed; top: 15px; width: 270px; }
.category-sidebar__list__item__link { 
    padding: 2px 10px;  
}
.sticky-element {
    position: sticky; 
    z-index: 1;
    top: 0;
}
/*************/  
.JSlevel-1 li a:hover, 
.mostPopular a,   
.header-cart-container .total,
.category-nav h3,
.JStoggle-btn
{ 
    color: var(--global_color);
}

#main-menu li a:hover,    
.top-menu a:hover,
.mostPopular a:hover,
.mini-cart-title:hover
{
    opacity: .7;
} 

/*************/  

.add-to-cart { 
    margin: 5px;
} 

/* article page admin button*/ 

.admin-article {
    position: absolute;
    top: 65px;
    right: 0;
    background: linear-gradient(#fff,#ddd); 
    padding: 0 7px;
    margin: 5px;
    z-index: 2;  
    border: 1px solid #ddd;
    font-size: 90%;
}
.article-level-edit-btn { 
    border: 1px solid #bbb;
    font-size: 11px;
    padding: 0 5px; 
}
.article-edit-btn {  
    border: 1px solid #bbb; 
    font-size: 11px;
    padding: 0 5px;
    position: absolute;
    right: 0px;
    top: 0;
    background-color: #fff;
} 
 
/*======================*/
.new-content { padding: 30px 0; }

.new-content img { 
	max-width: 100%;
	max-height: 700px;      
	margin: 0 5px; 
}
/* Login/Registration Forms */
.registration-form {
    max-width: 440px; 
}
.login-title span {
    font-size: 140%;
    margin: 0 10px;
    opacity: .4;
    cursor: pointer;
}
.login-title span.active-user {
    border-bottom: 1px solid;
    opacity: 1;
}
.page-title { 
    font-weight: 900;
    padding: 30px 0px 30px;
}
/*************/ 
 
.forgot-psw {
    color: #777;
    margin: 10px 0;
}

/*************/
.swal-title {
    font-size: 20px;
}
.swal-button--no {
    background: #e55539;
}
.swal-button--no:hover {
    background: #e23e1d !important;
}

/*======= ACTION SLIDER ==============*/
/*.btn-slider {
	padding: 1px 5px;
    color: var(--global_color);
    background-color: transparent; 
    top: -35px;
    position: absolute;
}
.btn-slider:active{ opacity: .6; }*/
  
/* ADDITIONAL FILES */
.files-list-item { 
    margin: 10px;
}
.files-name { font-weight: normal; margin: 6px; }

.features-list li { 
	border-bottom: 1px solid #ddd;
    padding: 3px 0;
    width: 50%;
    float: left;
} 
.generated-features-list:nth-child(even) { background: #f9f9f9; }
.generated-features-list > li:nth-child(1), .generated-features-list > li:nth-child(2), .generated-features-list > li ul li {
    display: inline-block;
    padding: 2px 5px;
    line-height: 1.3;  
}
.generated-features-list > li:nth-child(1){ width: 28%; }
.generated-features-list > li:nth-child(2){ width: 70%; }
.generated-features-list > li ul li{ border-bottom: 1px solid #ddd; width: 50%; }
.generated-features-list > li ul li:nth-last-child(-n+2){ border-bottom: none; }
.files-link img { max-width: 60px; }

/*============ BRENDS ==============*/
.brend-item {
	background: #fff; 
	padding: 5px 15px; 
	color: #222;
	height: 75px;
	margin: 5px 0; 
	box-shadow: 0 0 3px 0px rgba(0,0,0, .1);
    justify-content: center;
    -webkit-justify-content: center;
}
.brend-item img { max-height: 65px; padding: 5px 0; }

.brandSlider img {
    max-width: 100%;
    max-height: 60px;
    margin: 15px 0;
}
    /*=======================*/
 
.no-articles { 
    padding: 20px 0; 
    font-size: 125%;
}
#admin-menu { 
    background: #f2f2f2; 
    padding: 5px;   
    position: sticky;
    top: 0;
    z-index: 51; 
}
#admin-menu a i { color: #e55539; font-size: 15px; }
#admin-menu { font-size: 12px; } 
#admin-menu a:hover { color: #aaa; }
.success { margin: 10px 0 0;  padding: 5px; }

/* OCENE */
 
.review i { color: var(--review_star_color); } 
.bw { background-color: var(--inner_body_bg); }
/*.karak-row {
	min-height: 25px;
	border-bottom: 1px solid #bbb; 
}
.karak-row:last-child{
	border-bottom: none;
}*/

/*---------- MEDIAQUERIES ----------*/
@media (min-width: 1440px) { 
    .d-content:after { 
        max-width: 1410px; /* CONTAINER CONTENT WIDTH */
        left: calc(50% - 705px); /* 705px = (CONTAINER CONTENT WIDTH / 2)  */ 
    }
}

@media (min-width: 1200px) { 
    .container {
        width: 100%;
        max-width: 1440px;
    }
}

@media screen and (min-width:991px) {
    .JSlevel-2 {
        position: absolute;
        padding: 15px 0;
        width: 700px;
        top: 20px;
        left: 100%;
        background: var(--categories_level_2_bg);
        min-height: calc(100% - 20px);
    }
    .JSlevel-1 li:hover .JSlevel-2 {
        display: block; 
    } 
    /**************/

    .category-nav:hover .JSlevel-1 { display: block; } 
    
    .JSlevel-1 > li:hover { background-color: #f5f5f5; }

    .JSlevel-1 > li:hover > a { border-right: none; }
  
    .JSlevel-1 { 
        position: absolute; 
        width: 90%; 
        z-index: 50; 
        padding: 20px 0 0;
        border-bottom: 1px solid var(--light-gray);
    } 

    .JSlevel-2 + .JSsubcat-toggle, 
    .JSlevel-3 + .JSsubcat-toggle,
    .JSlevel-1, 
    .drop-2  {
        display: none;
    }

    .lvl-2-title:after, .ft-section-title:after {
        content: '';
        position: absolute;
        width: 40px;
        height: 1px;
        left: 0;
        background: linear-gradient(90deg, #c467f5, #53f3ff);
        bottom: -5px;
    }
 
    /**************/
    
    body.modal-open { overflow-y: auto; margin-right: -17px; overflow-x: hidden; }
    
    /**************/
    
    #main-menu .drop-2 a {
        border-bottom: 1px solid #fff;    
        margin: 0 10px; 
        padding: 8px 5px;
    }  
    .drop-2 {     
        background-color: #fff;
        box-shadow: 0 6px 12px rgba(0,0,0,.2); 
    }
     
    .top-menu li, #main-menu > li { display: inline-block; }

    /**************/

    /*.slider-cont { margin: 0 0 10px 22%; }*/
     
    /**************/
 
    #product-page .JSproduct { width: 33%;  } 

    /**************/

    .md-text-right {
        text-align: right;
    }
    
    /**************/

    #responsive-nav {
        padding: 18px 0;
    }

    /**************/

    #main-menu:after {
        content: '';
        position: absolute;
        border: 1px solid var(--light-gray);
        top: -8px;
        bottom: -8px;
        right: 0;
        left: -10%;
        z-index: 0;
        border-radius: 50px;
    }
    #main-menu > li { z-index: 1; }

    header {  
        border-bottom: 1px solid var(--light-gray); 
    }

    /**************/

    .product-actions {  
        right: 50px; 
        opacity: 0; 
    }
    .shop-product-card:hover .product-actions {
        right: 15px; 
        opacity: 1;
    }

    /**************/

    #start-page .JSd_content {
        width: calc(100% - 270px); /* CATEGORIES WIDTH */
    }
    .JSloader {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 50;
        background: rgba(255,255,255, .98); 
    }

    .load-ring { 
        position: relative; 
        width: 60px;
        height: 60px;
        margin: 200px 0;
    }
    .load-ring div { 
        position: absolute;
        width: 100%;
        height: 100%; 
        border: 2px solid #b3b3b3;
        border-radius: 50%;
        animation: load-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #b3b3b3 transparent transparent transparent;
    }
    .load-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }
    .load-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }
    .load-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }
    @keyframes load-ring {
        0%   { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    @-webkit-keyframes load-ring {
        0%   { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    } 


    /***********/ 
}

/*--- MIN WIDTH 768px ---*/
@media screen and (min-width: 768px) {
	.generated-features-list:last-child { border-bottom: none; }
	.generated-features-list{
		font-size: 1em;
		padding: 0 10px;
		display: table;
		width: 100%;
		border-bottom: 1px solid #ccc;
	}  
    .shop-product-card .price-holder {
        height: 35px;
    }
    .shop-product-card .product-name {
        height: 31px;
    }
    .news .news-title {
        height: 63px;
        border-bottom: 1px solid #DADADA;
    }

    /****************/
    .main_imgGallery { height: 510px; }

    .main_imgGallery .JSmain_img { max-height: 500px; }

    .container-fluid  .gallery_slider {
        grid-template-columns: repeat(15, 1fr);
    }
    .container .gallery_slider { grid-template-columns: repeat(10, 1fr); }
    
    .gallery_slider {
        grid-auto-rows: 70px;
    }
    
    .gallery_slider img { max-height: 60px; }

    .JScookiesInfo_btn { 
        float: right; 
        padding: 8px 15px;
        margin: 5px 0;
    }

    /*============== LOGO BANKS ===========*/ 
    .after-footer .banks .banc_main_logo img { 
        max-width: 235px; 
        margin: 0 8px; 
    }
    .after-footer .banks.justify-between {
        justify-content: space-between;
        -webkit-justify-content: space-between;
    }
    .after-footer .banks.justify-center {
        justify-content: center;
        -webkit-justify-content: center;
    }

}
/*======================*/

@media (max-width: 1440px) { 
    .bg-of-header { background-color: #fff; }
}

/*======================*/
  
@media only screen and (max-width: 991px) {

    #responsive-nav {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        max-width: 288px;
        width: 0%; 
        background-color: #f2f2f2;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: 0.5s all;
        transition: 0.5s all;
        z-index: 990;
        overflow-y: auto;
    }
    .resp-nav-btn {  
        color: var(--global_color);
        padding: 3px 11px; 
        font-size: 18px; 
        position: absolute;
        top: 20%;
        transform: translateY(-20%);
        right: 15px;
    }
    .openMe {
        width: 100% !important;
        -webkit-transform: translateX(0%) !important;
        -ms-transform: translateX(0%) !important;
        transform: translateX(0%) !important;
    }

    /**************/ 
     
    .drop-2, .JSlevel-1 li {
        position: relative;
    }
    
    #main-menu .drop-2 li a { margin: 0 0 0 10px; } 

    .JSsubcat-toggle { 
        display: inline-block;
        top: 10px;
    }  

    #main-menu li a {
        color: #222; 
        padding: 8px;
    }
    
    .JStoggle-content {
        margin-top: 30px;
    }
    
    #main-menu { margin: 20px 0; }   
    
    .container { width: auto; padding: 0; }
         
    .JSclose-nav{ 
        position: absolute;
        right: 20px;
        top: 5px;
        font-size: 30px;
    } 
  
    .JSlevel-1 li a {   
        padding-top: 8px;
        padding-bottom: 8px; 
    } 
    
    .sm-no-padd{ padding: 0; } 

    .hidden-small, .JSlevel-3 { display: none; }

    .top-actions { top: 70px; }

}
/*=================*/
@media only screen and (max-width: 768px) {
    .JScategory-sidebar__list {
        position: fixed;
        top: 50%;
        right: 0px;
        margin-right: -80%;
        width: 80%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: margin 0.2s ease-in-out;
        transition: margin 0.2s ease-in-out;
        border: 1px solid #ddd;
    }
    .JScategory-sidebar__list__toggler {
        line-height: 35px;
        text-align: center;
        font-size: 20px;
        width: 35px;
        height: 35px;
        position: absolute;
        top: 50%;	
        transform: translateY(-50%);
        left: -35px;
        background: #f0f0f0;
        border-radius: 3px 0px 0px 3px;
        color: #747474;
        font-weight: 700;
        border: 1px solid #747474;
        cursor: pointer;
    }
    .category-sidebar__list--open { margin-right: 0%;} 
    .category-sidebar__list--open .JScategory-sidebar__list__toggler:before { content: "\2192";} 
    .JScategory-sidebar__list__toggler:before { content: "\2190";} 

    .top-menu ul a {
       border-bottom: 1px solid var(--global_color);
        display: block;
    }

    footer li {
        margin: 12px 0;
    } 
    
    a.elevatezoom-gallery{ width: 23%; } 
    
    .sm-text-center { text-align: center; }
    
    .disableZoomer:after{
        content: ''; 
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .generated-features-list > li:nth-child(2){ width: 100%; }
   
    #main-content{ min-height: 400px; } 
    
    .ft-section-title{
        min-height: auto;
        margin: 15px 0; 
        border-bottom: 1px solid #ddd; 
        padding: 0 0 5px; 
    }
         
    .category-sidebar__list__item__link{ padding: 5px 10px; } 
    
    .JSproduct-list-options { padding: 5px 0; }
         
    .generated-features-list { margin: 30px 0; }
    
    .product-preview-tabs .generated-features-list .features-list-title { 
        border-top: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
        color: #000; 
        font-weight: 600; 
        width: 100%;
    } 

    .cart-item.row {
        border-bottom: 1px solid #ddd;
    }
  
    .xs-offset-1 {
        margin-left: 8.3%;
    }

    .compare-table {
        padding: 10px 3px;
    }

    .gallery-ban {
        grid-template-rows: repeat(4, minmax(40px, 1fr));
    }

    .gallery-title {
        font-size: 110%;
    }

    .text-banner {
        margin-top: 10px;
    }

    /****************/
    .main_imgGallery { height: 180px; }

    .main_imgGallery .JSmain_img { max-height: 170px; }

    .gallery_slider {
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 50px;
    }
    .gallery_slider img { max-height: 40px; }

    /*============== LOGO BANKS ===========*/ 
    .after-footer .banks { 
        flex-direction: column;
        -webkit-flex-direction: column;
    }
} 

/*--- MAX WIDTH 480px ---*/
@media screen and (max-width:479px) { 
	.section-title, .news-title
    { 
        font-size: 18px;
    }
	
    .scrollable { overflow-y: scroll; max-height: 400px; }
	
    .article-heading { font-size: 16px; }
	
    .zoomWrapper { height: 180px !important; } 
	
    .tab-titles { font-size: 13px; } 
	    
    /*************/
    .cart-item li { border: none; min-height: auto; } 
    
    .sliderText h2{ font-size: 16px; } 
    
    .zoomContainer { display: none; }
    
    .JSmain-slider {
        max-height: 170px;
    }
    
    .logo img {
        max-height: 65px;
    }

    .sliderText > * {
        font-size: 15px;
        padding: 0 15px; 
    } 
}