:root{
	--btn_bg: #2B2B2B;
	--btn_color: #fff;
	--a_href_color: #666; 	        
	--level_1_color: #222;  		
	--product_price_color: #222;	
	--product_title_color: #30323A;	
	--footer_bg: #000;		
	--header_bg: #fff;		
	--top_menu_bg: #000;		
	--menu_bg: #30323A;		
	--body_color: #2b2b2b;		
	--body_bg: #fff;
	--top_menu_color: #fff;
	--h2_color: #2b2b2b;
	--login_btn_bg: transparent;
	--login_btn_color: #000;
	--cart_number_bg: #000;
	--categories_title_bg: #e55539;
	--categories_level_1_bg: #fff;
	--categories_level_2_bg: #fff;
	--level_2_color: #222;
	--inner_body_bg: #fff;
	--product_bg: #fff;
	--product_bottom_bg: #fff;
	--review_star_color: #D13E3B;
	--paragraph_color: #fff;
	--h5_color: #fff;
	--input_bg_color: #fff;
	--breadcrumb_bg: #f9f9f9;
	--product_list_bg: #f5f5f5;
	--currency_bg: #fff;
	--currency_color: #000;
	--filters_bg: #fff;
 	--pagination_bg: #fff;
 	--pagination_bg_active: #fff;
    --pagination_color_active:  #e55539;
    --article_product_price_color: #D13E3B;
    --discount_price_color: #D13E3B;
    --add_to_cart_btn_bg: #e55539;
    --add_to_cart_btn_color: #fff;
    --add_to_cart_btn_bg_hover: #30323A;
    --add_to_cart_btn_bg_not_available: #f79888;
    --btn_hover_bg: #f74922;
    --sale_action_price_bg: #e55539;
  	--sale_action_bg: #30323A;
  	--product_old_price_color: #e55539;
  	--label_color: #222;
  	--scroll_top_bg: #fff;
  	--global_color: #e55539;
	}